.question {
  border-bottom: 1px solid rgba(#eaeaea, .5);
  
  &:first-of-type {
    border-top: 1px solid rgba(#eaeaea, .5);
  }

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  &__header {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    color: $black;
    display: flex;
    justify-content: space-between;
    padding-top: 23.2px;
    padding-bottom: 23.2px;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &:after {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      background: url(../img/plus.svg) no-repeat;
      background-size: contain;
      margin-top: 4px;
      margin-left: 10px;
      flex-shrink: 0;
      @include transition;

      @include media-breakpoint-down(sm) {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        margin-top: 6px;
      }
    }
    
    &--opened {
      
      &:after {
        transform: rotate(45deg);
      }
    }
  }
  
  &__content {
    display: none;
    padding-bottom: 30px;
    
    p {
      margin-bottom: 0;
    }
  }
}
