mixin question(question, additionalClass)
  .question(class=additionalClass)
    a.question__header(href="#") #{question}
    .question__content
      p Федеральное агентство стремится стать сервисной площадкой, чтобы оказывать максимальное содействие в развитии молодёжи, выступая навигатором существующих и создающихся возможностей в нашей стране.Мы организовываем форумы и мероприятия, оказываем поддержку молодёжи во всех регионах нашей страны. Мы гордимся историями успеха наших подопечных. <br>С помощью подведомственных учреждений решаем широкий круг задач, руководствуясь Основами государственной молодёжной политики Российской Федерации на период до 2025 г.