.cards-slider {
  margin-bottom: 40px;
  
  &__item {
    display: flex!important;
  }
  
  .slick-arrow {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid $brand-primary;
    position: absolute;
    bottom: -100px;
    font-size: 14px;
    font-weight: 500;
    color: $brand-primary;
    z-index: 1;
    cursor: pointer;
    display: flex;
    padding: 0 19px;
    align-items: center;
    justify-content: center;
    font-size: 0;
    @include transition;
    
    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(sm) {
      width: 50px;
      padding: 0 15px;
    }
      
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 19px;
      background: url(../img/arrow.svg) no-repeat;
      background-size: contain;
    }

    &:after {
      content: '';
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: $brand-primary;

      @include media-breakpoint-down(sm) {
        font-size: 0;
      }
    }
    
    &:focus {
      outline: none;
    }
    
    &.slick-prev {
      left: 10px;
      
      &:before {
        transform: rotate(180deg);
        margin-right: 18px;

        @include media-breakpoint-down(sm) {
          margin-right: 2px;
        }
      }
      
      &:after {
        content: 'Назад'
      }
    }
    
    &.slick-next {
      right: 10px;
      
      &:before {
        order: 2;
        margin-left: 18px;

        @include media-breakpoint-down(sm) {
          margin-left: 2px;
        }
      }
      
      &:after {
        content: 'Вперед';
        order: 1;
      }
    }
    
    &.slick-disabled {
      border-color: #e1e1e1;
      
      &:before {
        background: url(../img/arrow--gray.svg) no-repeat;
        background-size: contain;
      }
      
      &:after {
        color: #e1e1e1;
      }
    }
  }
  
  .event {
    margin-bottom: 0;
    width: 100%;
    display: flex;
    
    .row {
      width: 100%;

      @include media-breakpoint-down(sm) {
        width: auto;
      }
    }
  }
}
