mixin modal(additionalClass)
  if additionalClass == 'modal--login'
    .modal#modalLogin(class=additionalClass)
      h3.mb-2 Вход с паролем
      form.form(action="#", method="POST")
        .d-flex
          .form-group.form__item
            .form__item-header
              label.form__item-label Email
            input.form-control.input#loginEmail(type='email')
        .d-flex
          .form-group.form__item
            .form__item-header
              label.form__item-label Пароль
            input.form-control.input#loginPassword(type='password')
        .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-sm-center.mt-1.mb-2
          label.custom-control.custom-checkbox
            input.custom-control-input(type='checkbox')
            span.custom-control-indicator
            span.custom-control-description Запомнить меня
          a.modal__link(href="#modalRestore" data-fancybox) Восстановить пароль
        .d-flex.align-items-center
          button.btn.btn-primary.mr-1(type="submit") Войти
          a.btn.btn-outline-primary(href="#") Регистрация
      .modal__footer
        h4.mb-2.mb-sm-0.mt-0 Войти через соцсети
        +socials('socials--colored')
        
        
  else if additionalClass == 'modal--restore'
    .modal.pb-4#modalRestore(class=additionalClass)
      h3.mb-2 Восстановить пароль
      form.form(action="#", method="POST")
        .d-flex
          .form-group.form__item.mb-0
            label.form__item-label Email
            input.form-control.input#loginEmail2(type='email')
        .d-flex.align-items-center.justify-content-between.mt-3
          button.btn.btn-primary(type="submit") Сбросить пароль
          a.modal__link.modal__close(href="#") Назад к авторизации
        
  else if additionalClass == 'modal--message'
    .modal#modalMessage(class=additionalClass)
      h3.mb-2 Отправить сообщение
      form.form.modal__form(action="#", method="POST")
        .form-group.form__item.modal__input
          label.form__item-label Имя
          input.form-control.input(type='text')
        .form-group.form__item.modal__input
          label.form__item-label Email
          input.form-control.input(type='email')
        .form-group.form__item.modal__input
          label.form__item-label Текст сообщения
          textarea.form-control.input.input--textarea
        .d-flex.align-items-center.mt-2
          button.btn.btn-primary.mr-1(type="submit") Отправить
        
  else if additionalClass == 'modal--userpic'
    .modal.modal--short#modalUserpic(class=additionalClass)
      .modal__userpic(style="background-image: url(./img/avatar.jpg);")
      .modal__userpic-buttons
        a.btn.btn-outline-primary(href="#modalUserpicCut", data-fancybox) Сделать фото
        
  else if additionalClass == 'modal--userpic-cut'
    .modal.modal--short#modalUserpicCut(class=additionalClass)
      .modal__userpic(style="background-image: url(./img/avatar.jpg);")
      .modal__userpic-buttons
        a.btn.btn-primary(href="#modalUserpicApprove", data-fancybox) Обрезать
        a.btn.btn-outline-primary(href="#") Сделать новое фото
        
  else if additionalClass == 'modal--userpic-approve'
    .modal.modal--short#modalUserpicApprove(class=additionalClass)
      .modal__userpic-wrapper
        .modal__userpic.modal__userpic--chosen(style="background-image: url(./img/avatar.jpg);")
      .modal__userpic-buttons
        a.btn.btn-primary(href="#") Использовать
        a.btn.btn-outline-primary(href="#") Отменить
        
  else if additionalClass == 'modal--remove'
    .modal.pt-4#modalRemove(class=additionalClass)
      p.mb-4 Вы действительно хотите удалить это место работы?
      .d-flex.align-items-center
        a.btn.btn-outline-primary(href="#") Удалить
        a.btn.btn-link.btn-link--sm.btn-link--dark.ml-2(href="#") Отменить