.modal {
  display: none;
  padding: 48px 40px 20px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 520px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
    width: 95%;
  }
  
  &__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: $brand-primary;
  }
  
  &__footer {
    padding-top: 15px;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__userpic-wrapper {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($black, .3);
  }
  
  &__userpic {
    width: 100%;
    height: 260px;
    background-size: cover;
    background-position: top center;
    
    &--chosen {
      width: 200px;
      height: 200px;
    }
  }
  
  &__userpic-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  &--short {
    max-width: 420px;
    padding: 60px 20px 30px;
  }
}