html {
  
}

body {
  background: #f4f6f7;
  
  &.body--fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
    padding-right: 17px;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
    
    .header {
      padding-right: 17px;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }
    }
  }
}