h1 {
  
}

h2 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: .7px;
  color: $black;
  font-family: $font-family-serif;

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: $black;
  font-family: $font-family-serif;
  line-height: 1.25;
  margin-bottom: 25px;

  @include media-breakpoint-down(md) {
    font-size: 20px;
  }
  
  &.h3--white {
    color: #fff;
  }
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  font-family: $font-family-serif;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
  
  &.h4--lh-lg {
    line-height: 1.67;
  }
  
  &.h4--lh-md {
    line-height: 1.39;
  }
}

p {
  font-size: 16px;
  line-height: 1.88;
  color: $black;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
  
  &.p--medium {
    font-weight: 500;
  }
  
  &.p--sm {
    font-size: 14px;
  }
  
  &.p--dashed {
    display: flex;
    align-items: center;
  }
  
  &.p--lh-xs {
    line-height: 1.2;
  }
  
  &.p--lh-sm {
    line-height: 1.56;
  }
  
  &.p--lh-md {
    line-height: 1.75;
  }
  
  &.p--white {
    color: #fdfdfd;
  }
  
  a {
    color: $brand-primary;
  }
}

b {
  
}

ul {
  
  li {
    
  }
}

ol {
  
  li {
    
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    outline: none;
  }
}

input {
  
  &[type="submit"] {
    cursor: pointer;
  }
}

textarea {
  
}

select {
  
}

button {
  cursor: pointer;
}

img {
  
}

.bt {
  border-top: 1px solid #e1e1e1;
}

.br {
  border-right: 1px solid #e1e1e1;
}

.bl {
  border-left: 1px solid #e1e1e1;
}

.bb {
  border-bottom: 1px solid #e1e1e1;
}