mixin slider(additionalClass)
  .slider(class=additionalClass)
    a.slider__item(href="img/slider-1.jpg", data-fancybox)
      img.slider__item-picture(src="img/slider-1.jpg", alt="Picture")
    a.slider__item(href="img/slider-1.jpg", data-fancybox)
      img.slider__item-picture(src="img/slider-1.jpg", alt="Picture")
    a.slider__item(href="img/slider-1.jpg", data-fancybox)
      img.slider__item-picture(src="img/slider-1.jpg", alt="Picture")
    a.slider__item(href="img/slider-1.jpg", data-fancybox)
      img.slider__item-picture(src="img/slider-1.jpg", alt="Picture")
    a.slider__item(href="img/slider-1.jpg", data-fancybox)
      img.slider__item-picture(src="img/slider-1.jpg", alt="Picture")