.slider {
  
  &__item {
    margin: 0 10px;
    opacity: .12;
    @include transition;
    
    &.slick-active {
      opacity: 1;
    }
  }
  
  &__item-picture {
    max-width: 100%;
  }
  
  
  
  .slick-arrow {
    width: 50px;
    height: 50px;
    background: #fdfdfd url(../img/arrow.svg) no-repeat left 22px center;
    background-size: 11px 19px;
    position: absolute;
    top: 50%;
    margin-top: -47px;
    z-index: 1;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    font-size: 0;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &:focus {
      outline: none;
    }
    
    &.slick-prev {
      left: 50px;
      transform: rotate(180deg);
    }
    
    &.slick-next {
      right: 50px;
    }
  }
  
  .slick-dots {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 35px 0 35px;
    
    li {
      list-style: none;
      display: flex;
        
      &.slick-active {

        button {
          background: #fff;
          border: 1px solid #d4d4d4;
        }
      }
      
      & + li {
        margin-left: 20px;
      }
      
      button {
        font-size: 0;
        border: 0;
        background: #d8d8d8;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0;
        
        &:focus {
          outline: none;
        }
      }
    }
  }
}
