.news {
  text-align: center;

  @include media-breakpoint-down(sm) {
     margin-bottom: 40px;
  }
  
  &:hover {
    text-decoration: none;
    
    .news__picture {
      transform: scale(1.05);
    }
  }
  
  &+& {
    margin-top: 70px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
  
  &__picture-wrapper {
    width: 100%;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      max-width: 320px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  
  &__picture {
    width: 100%;
    @include transition;
  }
  
  &__date {
    margin-top: 30px;
    margin-bottom: 13px;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
  
  &__title {
    margin-bottom: 0;
  }
  
  &--picture-circle {
    
    .news__picture-wrapper {
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }
    
    .news__picture {
      height: 100%;
      width: auto;
    }
  }
  
  &--short {
    display: flex;
    text-align: left;
    margin-bottom: 50px;

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    
    .news__picture-wrapper {
      width: calc(50% - 10px);
      border-radius: 3px;

      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    
    .news__picture {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
    .news__content {
      width: calc(50% - 10px);
      margin-left: 20px;
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
        margin-top: 20px;
      }
    }
    
    .news__date {
      order: 2;
      margin-top: 15px;
      margin-bottom: 0;
    }
    
    .news__title {
      order: 1;
    }
  }
}
