mixin news(picture, date, title, additionalClass)
  a.news(href="#", class=additionalClass)
    .news__picture-wrapper
      if additionalClass == 'news--short'
        .news__picture(style="background-image: url(./img/" + picture + ");")
      else
        img.news__picture(src="img/" + picture, alt="Picture")
    .news__content
      p.p--center.news__date #{date}
      h4.news__title.h4--lh-lg.mt-0 #{title}