/* Bootstrap */

/* Container */

.container {
  padding-left: 40px;
  padding-right: 40px;

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}


/* Buttons */

.btn {
  border-width: 2px;
  font-size: 14px;
  
  &.btn-primary {
    
    &--white {
      background: #fff;
      color: $black;
      border-color: #fff;
      @include transition;

      &:hover {
        opacity: .7;
      }
    }
  }
  
  &--no-shrink {
    flex-shrink: 0;
  }
  
  &--white {
    border-color: #fff;
    color: #fff;
    border-width: 1px;
    
    &:hover {
      border-color: #fff;
      opacity: .7;
    }
  }
  
  &--file {
    display: inline-flex;
    justify-content: center;
    min-width: 160px;
    
    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url(../img/close--colored-thin.svg) no-repeat;
      background-size: contain;
      margin-left: 15px;
      flex-shrink: 0;
    }
    
    &:hover {
      
      &:after {
        background: url(../img/close--white-thin.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  
  &--file-fixed {
    width: 180px;
  }
  
  &--fixed {
    width: 200px;
  }
  
  &[disabled] {
    opacity: .28;
  }
  
  &.btn-link {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    
    &:hover {
      text-decoration: none;
    }
  
    &.btn-link--sm {
      font-size: 16px;
    }
    
    &.btn-link--dark {
      color: $black;
      
      &:hover {
        opacity: .7;
      }
    }
  }
}



/* Custom checkbox */

.custom-checkbox {
  margin-bottom: 0;
  display: flex;
  align-items: flex-start!important;
  padding-left: 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: 15px;
  }
  
  &+& {
    margin-top: 12px;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
  
  &:focus {
    outline: none;
  }
  
  .custom-control-input {
    
    &:focus {
      box-shadow: none;
      
      & ~ .custom-control-indicator {
        box-shadow: none;
      }
    }
    
    &:checked ~ .custom-control-indicator {
      background: url(../img/check.svg) no-repeat center;
      background-size: 70%;
      border-color: $black;
    }
  }
  
  .custom-control-indicator {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    background: transparent;
    margin-right: 9px;
    top: 2px;
    position: relative;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
     top: 0px;
    }
    
    &:focus {
      outline: none;
    }
  }
  
  .custom-control-description {
    font-size: 14px;
//    font-weight: 500;
    line-height: 1.43;
    color: $black;

    @include media-breakpoint-down(sm) {
     line-height: 1.3;
    }
  }
  
  &--switch {
    display: flex;
    align-items: center!important;
    padding-left: 0;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    
    .custom-control-input {
      
      &:checked {
        
        & ~ .custom-control-indicator {
          border-color: #e1e1e1;
          background: #fff;
          
          &:before {
            left: 41px;
            background: $brand-primary;
          }
        }
      }
      
      &:focus {
        
        & ~ .custom-control-indicator {
          box-shadow: none;
        }
      }
    }
    
    .custom-control-indicator {
      width: 77px;
      height: 36px;
      border-radius: 100px;
      border: 1px solid #e1e1e1;
      background: #fff;
      order: 2;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin: 0 30px;
      position: relative;
      @include transition;
      order: 2;
      flex-shrink: 0;
      
      &:before {
        content: '';
        display: block;
        width: 26px;
        height: 26px;
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        background: $brand-primary;
        border-radius: 50%;
        @include transition;
      }
    }
    
    .custom-control-description {
      font-size: 14px;
      color: $black;
      font-weight: 500;
      line-height: 2;
      
      &--left {
        order: 1;
      }
      
      &--right {
        order: 3;
      }
    }
  }
}


/* Custom radio */

.custom-radio {
  margin-bottom: 10px!important;
  display: block;

  @include media-breakpoint-down(md) {
    margin-bottom: 15px!important;
  }
  
  &+& {
    margin-top: 12px;

    @include media-breakpoint-down(sm) {
      margin-top: 15px;
    }
  }
  
  &:focus {
    outline: none;
  }
  
  .custom-control-input {
    
    &:focus {
      box-shadow: none;
      
      & ~ .custom-control-indicator {
        box-shadow: none;
      }
    }
    
    &:checked ~ .custom-control-indicator {
      background: transparent!important;
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: $black;
      
      &:before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        background: $brand-primary;
        border-radius: 50%;
      }
    }
  }
  
  .custom-control-indicator {
    width: 15px!important;
    height: 15px!important;
    border-radius: 100px;
    border: 1px solid #e1e1e1;
    background: transparent;
    margin-right: 9px;
    top: 6px!important;
    
    &:focus {
      outline: none;
    }
  }
  
  .custom-control-description {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: $black;

    @include media-breakpoint-down(sm) {
     line-height: 1.3;
    }
  }
}
 

/* Custom select */

.custom-select {
  width: 160px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #626264;
  font-size: 14px;
  font-weight: 600;
  color: #626264;
  padding-left: 20px;
  background: url(../img/arrow--down.svg) no-repeat right 15px center;
  background-size: 19px 18px;
}


/* Custom-file */

.custom-file {
  width: 160px;
  height: 50px;
  z-index: 1;

  @include media-breakpoint-down(sm) {
   margin-bottom: 20px;
  }
  
  input {
    display: none;
  }
  
  .custom-file-control {
    background: transparent;
    padding: 0;
    border: 0;
    
    &:before {
      content: 'Добавить файл';
      width: 100%;
      height: 50px;
      border-radius: 3px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      color: $brand-primary;
      font-size: 14px;
      font-weight: 600;
      border-color: $brand-primary;
      border-width: 2px;
      top: 0;
      left: 0;
      @include transition;
    }
    
    &:after {
      display: none;
    }
  }
    
  &:hover {
    
    .custom-file-control {

      &:before {
        background: $brand-primary;
        color: #fff;
      }
    }
  }
  
  &--picture {
    width: 220px;
    
    .custom-file-control {
      
      &:before {
        content: 'Добавить изображение';
      }
    }
  }
  
  &--common {
    
    .custom-file-control {
      
      &:before {
        content: 'Загрузить';
      }
    }
  }

  &--add-cert{
    width: 100%;
    height: 220px;

    @include media-breakpoint-down(lg){
      height: 60px;
    }
    .custom-file-control{
      height: 100%;
      border: 1px solid #A2D9F7;
      display: block;
      text-align: center;
      color: #1F85C3;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      padding-top: 140px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      background-image: url(../img/ic-plus-big.svg);
      background-repeat: no-repeat;
      background-position: center 55px;
      @include transition;

      @include media-breakpoint-down(lg){
        padding: 0;
        background-size: 40px;
        line-height: 60px;
        background-image: none;
      }
      &:before{
        display: none;

        @include media-breakpoint-down(lg){
          content: '';
          width: 30px;
          height: 30px;
          background-image: url(../img/ic-plus-big.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          display: inline-block;
          border: none;
          position: relative;
          vertical-align: middle;
          right: 0;
          margin-right: 10px;
        }
      }
    }

    &:hover{
      .custom-file-control{
        color: #1F85C3;
        border-color: currentColor;
      }
    }
  }
}

/* Tooltip */

.tooltip {

  @include media-breakpoint-down(sm) {
    display: none!important;
  }
  
  &.show {
    opacity: 1!important;;
  }
}

.tooltip-inner {
  text-align: left;
  padding: 20px;
  border-radius: 3px;
  background: #fdfdfd;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  max-width: 500px!important;
  position: relative;
  left: 10px;

  @include media-breakpoint-down(lg) {
    max-width: 300px!important;
  }
  
  p {
    font-size: 14px;
  }
}

.tooltip.tooltip-right .tooltip-inner::before, .tooltip.bs-tether-element-attached-left .tooltip-inner::before {
  border-right-color: #fff;
  margin-left: -10px;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px 10px 10px 0;
}



/* Slick */

.slick-slide {
  
  &:focus {
    outline: none;
  }
}


/* Fancybox */

.fancybox-bg {
  background: rgba(255, 255, 255, .9)!important;
  opacity: 1!important;
}

.fancybox-container {
  font-family: $font-family-sans-serif;
}

.fancybox-close-small {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:focus, &:active {
    
    &:after {
      border: 0!important;
      outline: none!important;
    }
  }
  
  &:after {
    content: '';
    background: url(../img/close.svg) no-repeat center;
    position: static;
    border: 0!important;
    outline: none!important;
  }
  
  &:hover {
    
    &:after {
      background: url(../img/close.svg) no-repeat center;
      opacity: .8;
    }
  }
}


/* Datepicker */

div.ui-datepicker {
  padding: 0;
  border: 0!important;
  margin-top: 10px;
  background: #fff;
  width: 345px;
  border-radius: 5px;
  z-index: 6!important;
  font-family: $font-family-sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }
  
  .ui-datepicker-header {
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
  }
  
  .ui-datepicker-title {
    color: #252627;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.54;
    text-transform: uppercase;
  }
  
  .ui-datepicker-prev {
    background: url(../img/arrow--small.svg) no-repeat;
    background-size: contain;
    width: 6px;
    height: 10px;
    cursor: pointer;
    transform: rotate(180deg);
    left: 30px;
    top: 50%;
    margin-top: -5px;
    
    &:hover {
      border: 0;
    }
  }
  
  .ui-datepicker-next {
    background: url(../img/arrow--small.svg) no-repeat;
    background-size: contain;
    width: 6px;
    height: 10px;
    cursor: pointer;
    right: 30px;
    top: 50%;
    margin-top: -5px;
    
    &:hover {
      border: 0;
    }
  }
  
  .ui-datepicker-calendar {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    
    tr {
      
    }
    
    th {
      font-size: 10px;
      font-weight: 900;
      line-height: .88;
      letter-spacing: .9px;
      color: #5c626b;
      text-transform: uppercase;
      height: 60px;
      border-bottom: 1px solid fade($brand-primary, 20%);
      padding-top: 10px;
      padding-bottom: 20px;
  
      &.ui-datepicker-week-end {
        color: #ff2d2d;
      }
    }
    
    td {
      width: 35px!important;
      height: 40px;
    }
  }
  
  .ui-state-default {
    font-size: 12px;
    font-weight: 500;
    color: #252627;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    border: 0;
    padding: 0;
    line-height: 30px;
    margin: 0 auto;
  }
  
  .ui-state-active {
    background: $brand-primary;
  }
  
  .ui-datepicker-today {
    
    .ui-state-default {
      background: #eaeaea;
    }
  }
  
  .selected {
    position: relative;
    
    .ui-state-default {
      background: $brand-primary;
      color: #fff;
    }
  }
  
  .ui-icon {
    background: transparent!important;
  }
  
  .ui-datepicker-week-end {
    
    .ui-state-default {
      color: #ff2d2d;
    }
    
    &.selected {
      
      .ui-state-default {
        color: #fff;
      }
    }
  }
  
  .ui-datepicker-month {
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    border-color: #eaeaea;
    border-radius: 4px;
  }
  
  .ui-datepicker-year {
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-family: $font-family-sans-serif;
    margin-left: 5px;
    border-color: #eaeaea;
    border-radius: 4px;
  }
  
  .ui-datepicker-button {
    width: 130px;
    height: 40px;
    background: #fff;
    border: 1px solid #565656;
    border-radius: 5px;
    margin: 15px auto 10px;
    display: block;
    @include transition;
    cursor: pointer;
    
    &:hover {
      background: $black;
      color: #fff;
    }
  }
}





/* Select2 */

.select2-container--default .select2-selection--single {
  height: 36px;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: $black;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  padding-top: 1px;
}

.select2 {
  
  & ~ .select2 {

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      display: block;
    }
  }
  
  &:focus, &:active, &:hover {
    outline: none!important;
    box-shadow: none!important;
    border: 0!important;
  }
  
  &:first-of-type {
    
    .select2-selection--single {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  
  &:last-of-type {
    
    .select2-selection--single {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-right-radius: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 50px;
  height: 100%;
  top: 0!important;
  background: url(../img/arrow--select.svg) no-repeat center;
  
  b {
    display: none;
  }
}

.select2-selection {
  
  &:focus {
    outline: none;
    border-color: #e1e1e1;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 5px!important;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}

.select2-dropdown {
  margin-top: 7px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px!important;
  border: 0;
  background: #fff;
//  max-height: 350px!important;
  position: relative!important;
//  overflow: hidden!important;
  overflow: visible!important;
  
//  &:before {
//    content: '';
//    display: block;
//    width: 10px;
//    height: 10px;
//    transform: rotate(45deg);
//    right: 21px;
//    top: -5px;
//    background: #fff;
//    position: absolute;
//  }
  
  &--place {
    
  }
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 350px;
}

.select2-selection--multiple {
  height: 50px!important;
  text-transform: uppercase!important;
  display: flex!important;
  align-items: center!important;
  border: 1px solid #e1e1e1!important;
  border-radius: 0!important;
  padding-top: 1px!important;
  line-height: 1!important;
}

.select2-search--dropdown {
  padding: 20px 20px 10px;
}

.select2-search__field {
  font-size: 14px!important;
  color: #626264!important;
  border: 1px solid #e1e1e1!important;
  border-radius: 3px!important;
  position: relative!important;
  z-index: 1;
  font-family: $font-family-sans-serif!important;
  margin-top: 0!important;
  max-width: 100%!important;
  padding-left: 10px!important;
  
  &::-webkit-input-placeholder {color:#626264!important;}
  &::-moz-placeholder          {color:#626264!important;}
  &:-ms-input-placeholder      {color:#626264!important;}
  
  &:focus {
    outline: none!important;
  }
}

.select2-selection__placeholder {
  color: $black!important;
}

.select2-results {
  position: relative;
  z-index: 1;
}

.select2-results__option {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 2;
  color: $black;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  
  &:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  &:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.select2-results__option--highlighted {
  background: transparent!important;
  color: #bfbfbf!important;
}

.select2-option--checkbox {
  display: flex;
  align-items: center;
  margin-left: -10px;
  
  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #565656;
    margin-right: 13px;
    margin-top: -2px;
  }
}

.select2-results__option[aria-selected="true"] {
  background: transparent!important;
  color: #bfbfbf;
  
  .select2-option--checkbox {
    
    &:before {
      background: url(../img/check.svg) no-repeat center;
      background-size: 80%;
    }
  }
}

.select2--region {
  
  &:after {
    content: '';
    display: block;
    width: 15px!important;
//    position: absolute;
    left: 110px;
    margin-top: 2px;
    flex-shrink: 0;
    height: 10px;
    top: 0!important;
    background: url(../img/arrow--select.svg) no-repeat center;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
}


.select2-selection__rendered {
  padding-left: 12px!important;
  padding-right: 20px!important;
  color: $black!important;
  font-size: 16px!important;
  font-family: $font-family-sans-serif!important;
  text-transform: none!important;
  font-weight: 400!important;
  align-items: center!important;
  width: 100%!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  display: flex!important;

  li {
    font-weight: 700!important;
    font-size: 14px!important;
    max-width: 100%!important;
  }
}

.select2-selection__choice {
  background: #fff!important;
  border: 0!important;
  margin: 0!important;
  padding: 0!important;
  font-size: 14px!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;

  span {
    display: none!important;
  }
}

.select2--common {
  height: 36px!important;
  background: url(../img/arrow--dark-small.svg) no-repeat right 10px center!important;
  border-radius: 3px!important;
  
  .select2-selection__rendered {
    font-weight: 500;
  }
  
  .select2-search__field {
    font-weight: 500!important;
    font-size: 14px!important;
    text-transform: none!important;
  }

  .select2-selection__choice {
    font-size: 500!important;
    
    &:nth-of-type(n+3) {
      display: none!important;
    }
  }
}

.select2-selection--single {
  
  .select2-selection__rendered {
    display: block !important;
  }
}


/* Perfect Scrollbar */

.ps > .ps__scrollbar-y-rail {
  background: transparent;
  background-color: transparent!important;
  opacity: 1;
  right: 10px!important;
  width: 7px!important;
  margin-top: 10px;
  height: calc(100% - 20px)!important;
  overflow: hidden!important;
  top: 0!important;
  border-radius: 6px!important;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  width: 7px!important;
  background: #bfbfbf!important;
  right: 0!important;
}

.select2 {
  
  .ps__scrollbar-y-rail {
    
  }
}