.timeline {
  padding-left: 0;
  
  &__item {
    display: flex;
    align-items: flex-start;
    padding-left: 39px;
    position: relative;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
    
    &:before {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid #979797;
      position: absolute;
      left: 0;
      top: 11px;
      background: #fff;
      z-index: 1;
    }
    
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: #eaeaea;
      left: 4px;
      top: 12px;
      position: absolute;
    }
    
    &:last-child {
      
      &:after {
        display: none;
      }
    }
  }
  
  &__year {
    width: 180px;
    padding-right: 20px;
    flex-shrink: 0;
  }
  
  &__content {
    
  }
  
  &__item-header {
    margin-bottom: 4px;
    line-height: 1.63;
  }
  
  &__item-dscr {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.53;
    color: $brand-primary;
  }
}