.block-data {
	background-color: #fff;
	padding-left: 35px;
	padding-right: 35px;
	color: #000;
	padding-top: 70px;
	position: relative;
	z-index: 1;
	margin-bottom: 30px;

	@include media-breakpoint-down(lg){
		margin-left: -40px;
		margin-right: -40px;
		padding-left: 40px;
		padding-right: 40px;
	}

	@include media-breakpoint-down(sm){
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__h1{
		display: inline-block;
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		border-bottom: 2px solid #F4A601;
		padding-bottom: 5px;
		margin-bottom: 35px;

		@include media-breakpoint-down(sm){
			margin-bottom: 30px;
		}
	}

	&__h2{
		font-size: 18px;
		color: #666E79;
		font-weight: 700;
		margin-bottom: 15px;
	}

	&__link-remove{
		color: #C20E0E;
		font-size: 14px;
		font-weight: 700;
		padding-left: 18px;
		background-image: url(../img/ic-remove.svg);
		background-position: left 7px;
		background-repeat: no-repeat;
		display: inline-block;
		position: relative;
		z-index: 2;
		&:hover{
			color: #9b0e0e;
		}
	}

	&__link-add{
		color: #1F85C3;
		font-size: 14px;
		padding-left: 25px;
		font-weight: 700;
		background-image: url(../img/ic-plus-blue.svg);
		background-position: left 4px;
		background-repeat: no-repeat;
		display: inline-block;
		margin-bottom: 30px;

		&:hover{
			color: #1e659b;
		}
	}

	&__add-cert{
		height: 220px;
		border: 1px solid #A2D9F7;
		display: block;
		text-align: center;
		color: #1F85C3;
		font-size: 14px;
		font-weight: 700;
		line-height: normal;
		padding-top: 140px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		background-image: url(../img/ic-plus-big.svg);
		background-repeat: no-repeat;
		background-position: center 55px;
		@include transition;

		&:hover{
			color: #1F85C3;
			border-color: currentColor;
		}
	}

	&__lang{
		height: 36px;
		line-height: 34px;
		white-space: nowrap;
		font-size: 14px;
		padding-left: 10px;
		padding-right: 30px;
		background-repeat: no-repeat;
		background-position: calc(100% - 10px) center;
		background-image: url(../img/ic-remove.svg);
		color: #666E79;
		border: 1px solid #A2D9F7;
		margin-right: 13px;
		margin-bottom: 13px;
		@include transition;

		&:hover{
			color: #666E79;
			border-color: currentColor;
		}

		&:last-child{
			margin-right: 0;
		}

		&--add{
			display: block;
			width: 36px;
			height: 36px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../img/ic-plus-white.svg);
			background-color: #1F85C3;
			border: none;
			margin-left: 13px;
			@include transition;

			@include media-breakpoint-down(sm){
				margin-right: 0;
			}
			&:hover{
				background-color: #1f6ca9;
			}
		}
	}

	&__table-wrap{
		overflow-x: auto;
		max-width: 100%;
	}

	&__table{
		width: 100%;
		font-size: 14px;
		line-height: normal;
		margin-bottom: 50px;

		@include media-breakpoint-down(xs){
			font-size: 12px;
		}
		th{
			font-weight: normal;
			color: #A6A6A6;
			padding-bottom: 10px;
			padding-right: 20px;
			border-bottom: 1px solid #E0E0E0;

			@include media-breakpoint-down(xs){
				padding-right: 15px;
			}
		}
		td{
			padding: 20px 20px 20px 0;
			border-bottom: 1px solid #E0E0E0;

			@include media-breakpoint-down(xs){
				padding-right: 15px;
			}
			&:first-child{
				width: 100px;
			}
			&:nth-child(2){
				width: 40%;
			}
		}
		tr:last-child{
			td{
				border: none;
			}
		}
	}

	&__table-text{
		min-width: 200px;
		margin: 0;
		padding: 0;
	}
}
