
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/search/search.pug
include ../blocks/front/front.pug
include ../blocks/slider/slider.pug
include ../blocks/event/event.pug
include ../blocks/participants/participants.pug
include ../blocks/news/news.pug
include ../blocks/footer/footer.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/socials/socials.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/modal/modal.pug
include ../blocks/select/select.pug
include ../blocks/calendar/calendar.pug
include ../blocks/article/article.pug
include ../blocks/section/section.pug
include ../blocks/map/map.pug
include ../blocks/partner/partner.pug
include ../blocks/user/user.pug
include ../blocks/quote/quote.pug
include ../blocks/user-id/user-id.pug
include ../blocks/timeline/timeline.pug
include ../blocks/dash/dash.pug
include ../blocks/study/study.pug
include ../blocks/profile/profile.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/aside/aside.pug
include ../blocks/question/question.pug
include ../blocks/popup/popup.pug
include ../blocks/settings-button/settings-button.pug
include ../blocks/activity/activity.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/institution/institution.pug
include ../blocks/connect/connect.pug
include ../blocks/cards-slider/cards-slider.pug
include ../blocks/user-photo/user-photo.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/markets/markets.pug
include ../blocks/sorting/sorting.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/registration/registration.pug
include ../blocks/user-info/user-info.pug
include ../blocks/field/field.pug
include ../blocks/block-data/block-data.pug
include ../blocks/certificates/certificates.pug
include ../blocks/circle-progress/circle-progress.pug
include ../blocks/chart/chart.pug
