mixin breadcrumbs(section, page, additionalClass)
  .breadcrumbs(class=additionalClass)
    if additionalClass == 'breadcrumbs--long'
      a.breadcrumbs__item(href="#") Главная
      a.breadcrumbs__item(href="#") #{section}
      a.breadcrumbs__item(href="#") #{page}
      a.breadcrumbs__item.breadcrumbs__item--current(href="#") Принять участие
    else
      a.breadcrumbs__item(href="#") Главная
      a.breadcrumbs__item(href="#") #{section}
      a.breadcrumbs__item.breadcrumbs__item--current(href="#") #{page}