.breadcrumbs {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  
  &__item {
    font-size: 14px;
    font-weight: 500;
    color: $black;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      display: none;
    }
      
    &:after {
      content: '';
      display: block;
      margin: 0 15px;
      background: url(../img/arrow--orange.svg) no-repeat;
      background-size: contain;
      width: 5px;
      height: 9px;
      flex-shrink: 0;
    }
    
    &:first-child {

      @include media-breakpoint-down(sm) {
        display: flex;
        align-items: baseline;
        color: $black;
      
        &:before {
          content: '';
          display: block;
          margin-right: 15px;
          background: url(../img/arrow--orange.svg) no-repeat;
          background-size: contain;
          width: 5px;
          height: 9px;
          flex-shrink: 0;
          transform: rotate(180deg);
        }
        
        &:after {
          display: none;
        }
      }
    }
    
    &--current {
      color: #bfbfbf;
      
      &:hover {
        color: #bfbfbf;
      }
      
      &:after {
        display: none;
      }
    }
  }
}
