// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


$container-max-widths: (
//  xl: 1600px
);


$font-family-sans-serif: 'Avenir Next Cyr', 'Arial', sans-serif;
$font-family-serif: 'Aktiv Grotesk Corp', 'Georgia', sans-serif;


$brand-primary: #f9a31a;
$black: #313237;

$border-radius: 3px;

$btn-padding-x: 15.83px;
$btn-padding-y: 14.6px;

$btn-font-weight: 500;

$input-border-color: #e1e1e1;

$input-padding-y: .4375rem;