.input {
  font-family: $font-family-sans-serif;
  
  &--textarea {
    height: 80px;
    resize: none;
  }
  
  &--textarea-big {
    height: 200px;
  }
  
  &--select {
    background: url(../img/arrow--select.svg) no-repeat right 20px center;
  }
}
