.profile {
  
  &__top {
    background: #fff;
    padding: 25px 0;
  }
  
  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__top-left {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  
  &__userpic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
    flex-shrink: 0;
    margin-right: 20px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  
  &__top-content {
    max-width: 640px;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }
  }
  
  &__top-user {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__status {
    font-size: 14px;
    font-weight: 500;
    color: #626264;
    margin-left: 30px;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      margin-top: 10px;
    }
    
    &--online {
      color: #03be46;
      display: flex;
      align-items: center;
      
      &:before {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        border: 3px solid #b3ebc7;
        background: #03be46;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  
  &__id {
    margin-bottom: 16px;
  }
  
  &__top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-breakpoint-down(lg) {
      flex-shrink: 0;
    }

    @include media-breakpoint-down(sm) {
      position: absolute;
      right: 0;
      top: 0;
      flex-direction: row;
    }
  }
  
  &__control {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.79;
    color: $black;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    
    &:hover {
      
      &:after {
        opacity: .8;
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: 0;
    }
    
    &+& {
      margin-top: 26px;

      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
    }
    
    &:after {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      margin-left: 18px;
      border: 2px solid rgba(#626264, .95);
      border-radius: 3px;
      @include transition;
    }
    
    &--download {
      
      &:after {
        background: url(../img/download.svg) no-repeat center;
        background-size: 14px 14px;
      }
    }
    
    &--settings {
      
      &:after {
        background: url(../img/settings.svg) no-repeat center;
      }
    }
    
    &--mobile-text {

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
    
    &--inactive {
      opacity: .2;
    }
    
    &--remove {
      
      &:after {
        margin-left: 0;
        background: url(../img/garbage.svg) no-repeat center;
      }
    }
  }
  
  &__link {
    font-size: 16px;
    font-weight: 700;
    line-height: .88;
    color: $brand-primary;

    @include media-breakpoint-down(sm) {
      display: block;
      margin-bottom: 20px;
    }
  }
  
  &__content {
    background: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  &__photo {
    display: flex;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__photo-picture {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-right: 20px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__photo-content {

  }
  
  &__social-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.75;
    color: $black;
    
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
      flex-shrink: 0;
    }
    
    &--fb {
      
      &:before {
        background: url(../img/fb--round.svg) no-repeat;
        background-size: contain;
      }
    }
    
    &--ig {
      
      &:before {
        background: url(../img/ig--round.png) no-repeat;
        background-size: contain;
      }
    }
    
    &--vk {
      
      &:before {
        background: url(../img/vk--round.svg) no-repeat;
        background-size: contain;
      }
    }
    
    &--tw {
      
      &:before {
        background: url(../img/tw--round.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e1e1e1;

    &--active {

      .profile__social-name {
        color: $brand-primary;

        &:before {
          border-color: $brand-primary;
        }

        &--fb {

          &:before {
            background: url(../img/fb--colored.svg) no-repeat center;
          }
        }

        &--vk {

          &:before {
            background: url(../img/vk--colored.svg) no-repeat center;
          }
        }

        &--tw {

          &:before {
            background: url(../img/twitter--colored.svg) no-repeat center;
          }
        }

        &--ok {

          &:before {
            background: url(../img/ok--colored.svg) no-repeat center;
          }
        }

        &--go {

          &:before {
            background: url(../img/google--colored.svg) no-repeat center;
          }
        }
      }

      .profile__social-status {
        display: block;
      }

      .profile__social-connect {
        display: none;
      }

      .profile__social-disconnect {
        display: inline-block;
      }
    }
  }

  &__social-name {
    font-size: 17px;
    font-weight: 500;
    color: $black;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $black;
      margin-right: 20px;
    }

    &--fb {

      &:before {
        background: url(../img/fb.svg) no-repeat center;
      }
    }

    &--vk {

      &:before {
        background: url(../img/vk.svg) no-repeat center;
      }
    }

    &--tw {

      &:before {
        background: url(../img/tw.svg) no-repeat center;
      }
    }

    &--ok {

      &:before {
        background: url(../img/ok.svg) no-repeat center;
      }
    }

    &--go {

      &:before {
        background: url(../img/go.svg) no-repeat center;
      }
    }
  }

  &__social-name-content {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__social-status {
    display: none;
    font-size: 14px;
    font-weight: 500;
    color: $black;
  }

  &__social-connect {
    font-size: 16px!important;
    font-weight: 700;
    line-height: 1.88;
    color: $brand-primary;
    font-family: $font-family-serif;
  }

  &__social-disconnect {
    display: none;
    font-size: 12px;
    text-align: center;

    @include media-breakpoint-down(md) {
      width: auto;
    }
  }
}