.markets {
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
  }
  
  &__item {
    width: 135px;
    height: 40px;
    display: block;
    
    &+& {
      margin-left: 10px;
    }
    
    &--apple {
      background: url(../img/market--apple.png) no-repeat;
      background-size: contain;
    }
    
    &--google {
      background: url(../img/market--google.png) no-repeat;
      background-size: contain;
    }
  }
}
