mixin subscribe(additionalClass)
  .subscribe(class=additionalClass)
    h3.h3--white.mb-0 Подпишитесь на наши новости
    form.subscribe__form(action="#", method="POST")
      .form-group.mb-0.mr-0.mr-sm-2
        input.form-control.subscribe__input(type="text", placeholder="Ваш email")
      button.btn.btn-primary.btn-primary--white(type="submit") Подписаться