.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }
  
  &__form {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
  }
  
  &__input-wrapper {
    margin-right: 20px;
  }
  
  &__input {
    height: 50px;
    border-radius: 3px;
    border: 1px solid rgba(#fdfdfd, .29);
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fdfdfd;
    background: transparent;
    width: 370px;
    font-family: $font-family-sans-serif;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      width: 100%;
    }
    
    &:focus {
      background: transparent;
      color: #fdfdfd;
    }
    
    &::-webkit-input-placeholder {color:#fff;}
    &::-moz-placeholder          {color:#fff;}
    &:-ms-input-placeholder      {color:#fff;}
  }
}
