.sorting {
  display: flex;
  align-items: center;
  padding: 30px 0;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  
  &__header {
    font-size: 14px;
    font-weight: 500;
    color: #626264;
    margin-right: 20px;
    line-height: 2;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  
  &__form {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__select-wrapper {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-left: 5px;
    
    &--arrowed {
      margin-right: 25px!important;
  
      &:after {
        content: '';
        display: block;
        width: 11px;
        height: 6px;
        background: url(../img/arrow--select.svg) no-repeat;
        background-size: contain;
        margin-top: 2px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0!important;
      margin-left: 0!important;
      margin-top: 10px!important;
    }
  }
  
  &__select {
    background: transparent;
    font-size: 14px;
    line-height: 2;
    color: #626264;
    border: 0;
    font-family: $font-family-sans-serif;

    @include media-breakpoint-down(sm) {
      appearance: none;
    }
    
    &:focus {
      outline: none;
    }
    
    &::-webkit-input-placeholder {color:#626264;}
    &::-moz-placeholder          {color:#626264;}
    &:-ms-input-placeholder      {color:#626264;}
    
    &--calendar {
      width: 70px;
    }
  }
  
  &__dropdown {
    
    &:before {
      display: none;
    }
  }
  
  .select2-container {
    width: auto!important;
  }

  .select2-container--default .select2-selection--single {
    height: auto!important;
    font-family: $font-family-sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $black;
    border: 0;
  }

  .select2 {

    & ~ .select2 {

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
        display: block;
      }
    }

    &:focus, &:active, &:hover {
      outline: none!important;
      box-shadow: none!important;
      border: 0!important;
    }

    &:first-of-type {

      .select2-selection--single {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    &:last-of-type {

      .select2-selection--single {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-right-radius: 3px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 50px;
    height: 100%;
    top: 0!important;
    background: url(../img/arrow--select.svg) no-repeat center;

    b {
      display: none;
    }
  }

  .select2-selection {

    &:focus {
      outline: none;
      border-color: #e1e1e1;
    }

    @include media-breakpoint-down(sm) {
      border-radius: 5px!important;
    }
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
    transform: rotate(180deg);
  }
  
  .select2-container--default .select2-selection--single {
    background: transparent!important;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-right: 40px!important;
    font-size: 14px!important;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 2px!important;
  }
  
.select2-container--default .select2-selection--multiple {
    border: 0!important;
    min-height: 0!important;
    height: auto!important;
    background: transparent!important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-left: 0!important;
    width: auto!important;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__arrow {
    width: 50px;
    height: 100%;
    top: 0!important;
    justify-content: flex-start;
    background: url(../img/arrow--select.svg) no-repeat center;

    b {
      display: none;
    }
  }
  
  .select2-container--default .select2-search--inline .select2-search__field {
    border: 0!important;
  }
  
  .select2-container--default .select2-search--inline .select2-search__field {
    width: 90px!important;
  }
  
  .select2-selection__rendered {
    color: #626264!important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: transparent!important;
    font-weight: 400!important;
    
    & + .select2-search--inline {
      display: none!important;
    }
  }
  
  .select2-selection__rendered li {
    font-weight: 400!important;
  }
  
  .select2-selection__rendered {
    padding-right: 10px!important;
  }
  
  .select2-container--default .select2-search--inline .select2-search__field {
    padding-left: 0!important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    min-height: 18px!important;
    display: flex;
    align-items: center;
  }
  
  .select2-container--default .select2-selection--multiple {

    @include media-breakpoint-down(sm) {
      margin-top: 0!important;
    }
  }
}