.section {
  padding-top: 70px;
  padding-bottom: 30px;

  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  &+& {
    border-top: 1px solid rgba(#eaeaea, .5);
  }
  
  &__header {
    margin-left: -20px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  
  &__title {
    border-bottom: 8px solid $brand-primary;
    display: inline;
    line-height: 2;
    position: relative;
    top: -10px;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      top: 0;
    }
  }
  
  &__content {
    
  }
}
