.article {
  background: #fff;
  
  &__picture {
    max-width: 530px;
    width: 100%;
    margin-bottom: 30px;
    flex-shrink: 0;
  }
  
  &__row {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    
    &+& {
      margin-top: 70px;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
      }
    }
  }
  
  &__row-text {

    @include media-breakpoint-down(lg) {
      order: 2;
    }
  }
  
  &__row-picture {
    
  }
  
  &--simple {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-down(lg) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
