.socials {
  display: flex;
  align-items: center;
  
  &__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 10px;
    }
    
    &--fb {
      background: url(../img/fb.svg) no-repeat;
      background-size: contain;
    }
    
    &--vk {
      background: url(../img/vk.svg) no-repeat;
      background-size: contain;
    }
    
    &--tw {
      background: url(../img/tw.svg) no-repeat;
      background-size: contain;
    }
    
    &--ig {
      background: url(../img/ig.svg) no-repeat;
      background-size: contain;
    }
    
    &--ok {
      background: url(../img/ok.svg) no-repeat;
      background-size: contain;
    }
  }
  
  &--colored {
    
    .socials__item {
      
      &--fb {
        background: url(../img/fb--colored.svg) no-repeat center;
        border: 1px solid $brand-primary;
      }

      &--vk {
        background: url(../img/vk--colored.svg) no-repeat;
        background-size: contain;
      }

      &--tw {
        background: url(../img/tw--colored.svg) no-repeat;
        background-size: contain;
      }

      &--ok {
        background: url(../img/ok--colored.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  
  &--share {
    flex-shrink: 0;
    padding: 15px 0;
    
    .socials__item {
      width: 30px;
      height: 30px;
      border: 1px solid #d4d4d4;
      
      &--fb {
        background: url(../img/fb--branded.svg) no-repeat center;
      }

      &--vk {
        background: url(../img/vk--branded.svg) no-repeat center;
      }

      &--tw {
        background: url(../img/twitter--branded.svg) no-repeat center;
      }

      &--ok {
        background: url(../img/ok--branded.svg) no-repeat center;
      }
    }
  }
}
