mixin socials(additionalClass)
  .socials(class=additionalClass)
    if additionalClass == 'socials--share'
      p.p--medium.mb-0.mr-2 Поделиться
      .d-flex
        a.socials__item.socials__item--fb(href="#")
        a.socials__item.socials__item--vk(href="#")
        a.socials__item.socials__item--tw(href="#")
        a.socials__item.socials__item--ok(href="#")
    else if additionalClass == 'socials--colored'
      a.socials__item.socials__item--fb(href="#")
      a.socials__item.socials__item--vk(href="#")
      a.socials__item.socials__item--tw(href="#")
      a.socials__item.socials__item--ok(href="#")
    else
      a.socials__item.socials__item--fb(href="#")
      a.socials__item.socials__item--vk(href="#")
      a.socials__item.socials__item--tw(href="#")
      a.socials__item.socials__item--ig(href="#")
      a.socials__item.socials__item--ok(href="#")