mixin study(title, date, additionalClass)
  .study(class=additionalClass)
    h4 #{title}
    if additionalClass == 'study--points-old'
      .study__footer
        .study__points +40 баллов
        span.study__points-date Начислено 14.07.17
    else
      p.mb-0 #{date}