.study {
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e1e1e1;
  height: 100%;
  
  &__footer {
    display: flex;
    align-items: center;
  }
  
  &__points {
    font-size: 10px;
    font-weight: 500;
    color: #828282;
    border-radius: 100px;
    border: 1px solid #bfbfbf;
    margin-right: 8px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.3px 15.9px;
  }
  
  &__points-date {
    font-size: 10px;
    font-weight: 500;
    color: #03be46;
  }
}
