mixin search(additionalClass)
  .search(class=additionalClass)
    a.search__button(href="#")
    .search__content
      .search__wrapper
        .search__top
          .container
            .row
              .col-12.col-xl-6.offset-xl-3
                form.search__form(action="#", method="POST")
                  button.search__zoom(type="submit")
                  input.form-contol.search__input(type="text", placeholder="Поиск по новостям, мероприятиям и участникам")
                  a.search__remove(href="#")
                  a.search__close(href="#")
        .search__container
          .container
            .row
              .col-lg-3.d-flex
                .aside.pl-xl-4.ml-xl-5
                  .aside__content.aside__content--near
                    a.aside__button(href="#") Все
                    .aside__links-list
                      a.aside__link.aside__link--active(href="#") Все
                      a.aside__link(href="#") Новости
                      a.aside__link(href="#") Мероприятия
                      a.aside__link(href="#") Участники
              .col-lg-8
                .pb-2
                  h3.pb-sm-2.mb-xl-5.mb-3 Новости
                  .row
                    .col-12.col-xl-6
                      +news('news-2.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым', 'news--short')
                    .col-12.col-xl-6
                      +news('news-3.jpg', '18 сентября 2017', '«Серверный диалог» в столице', 'news--short')
                    .col-12.col-xl-6
                      +news('news-4.jpg', '18 сентября 2017', 'Ирина Слуцкая ответила  на вопросы студентов-медиков', 'news--short')
                .pb-2
                  h3.pb-sm-2.mb-xl-5.mb-3 Мероприятия
                  .row
                    .col-12.col-xl-6
                      +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                    .col-12.col-xl-6
                      +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                .pb-4
                  h3.pb-sm-2.mb-xl-5.mb-3 Участники
                  .row
                    .col-12.col-xl-6
                      +user('user-1.jpg', 'Степан Резак', 'Главный делопроизводитель ОАО “Спецстроймонтаж”', 'user--short')
        +footer