.search {

  &__button {
    width: 23px;
    height: 28px;
    background: url(../img/zoom--white.svg) no-repeat center;
    background-size: contain;
    display: block;
    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(lg) {
      width: 16px;
      height: 19px;
      background-size: contain;
    }
  }

  &__content {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: #f4f6f7;
    overflow-y: auto;
    overflow-x: hidden;
  }


  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  &__top {
    background: $black;
    flex-shrink: 0;
  }

  &__form {
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 8px;
      background: $brand-primary;
      position: absolute;
      left: 0;
      bottom: 0;
      animation: .5s width forwards;
    }

    @keyframes width {

      100% {
        width: 100%;
      }
    }
  }

  &__zoom {
    width: 23px;
    height: 28px;
    background: url(../img/zoom.svg) no-repeat;
    background-size: contain;
    margin-right: 21px;
    border: 0;
    flex-shrink: 0;
    @include transition;
    cursor: pointer;
    padding: 0;

    &:hover {
      opacity: .8;
    }

    &:focus {
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      order: 2;
      margin-left: 10px;
      width: 16px;
      height: 20px;
    }
  }

  &__input {
    border: 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: transparent;
    flex-grow: 1;
    font-family: $font-family-serif;

    &::-webkit-input-placeholder {color: rgba(#fdfdfd, .15);}
    &::-moz-placeholder          {color: rgba(#fdfdfd, .15);}
    &:-ms-input-placeholder      {color: rgba(#fdfdfd, .15);}

    @include media-breakpoint-down(sm) {
      order: 1;
      text-align: left;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      font-family: $font-family-sans-serif;
    }

    &:focus {
      outline: none;
    }
  }

  &__remove {
    width: 21px;
    height: 13px;
    display: block;
    background: url(../img/arrow--remove.svg) no-repeat;
    background-size: contain;
    margin-right: 31px;
    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    background: url(../img/close--colored.svg) no-repeat;
    background-size: contain;
    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }
  }

  &__container {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    background: #fff;
    margin: 40px;
    min-height: 400px;
    padding-top: 65px;

    @include media-breakpoint-down(md) {
      margin: 20px;
      padding-top: 0;
    }
  }

  &--active {

    .search__content {
      display: flex;
      flex-direction: column;
    }
    
    .search__button {
      background: url(../img/zoom.svg) no-repeat center;
    }
  }
}