.footer {
  background: $black;
  padding-bottom: 48px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 30px;
  }
  
  &__content {
    margin-top: 70px;
    border-top: 1px solid rgba(#e1e1e1, .1);
  }
  
  &__content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  
  &__sitemap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
  
  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    @include transition;
    
    &:hover {
      opacity: .7;
      color: #fdfdfd;
    }
    
    &:first-child {
      
      &:before {
        display: none;
      }
    }
    
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background: $brand-primary;
      border-radius: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  &__links-wrapper {
    display: flex;
    align-items: center;
  }
  
  &__content-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__content-bottom {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  
  &__info {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__info-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: #fdfdfd;
    @include transition;
    
    &:hover {
      opacity: .7;
    }
    
    &+& {
      margin-left: 15px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}