mixin footer(additionalClass)
  .footer(class=additionalClass)
    .container
      .row
        .col-12
          +subscribe
    .container
      .row
        .col-12
          .footer__content
            .footer__content-top
              .footer__sitemap
                a.footer__link(href="events-list.html") Мероприятия
                a.footer__link(href="users-list.html") Участники
                a.footer__link(href="news-list.html") Новости
                a.footer__link(href="help.html") Помощь
                a.footer__link(href="partners.html") Партнеры
                a.footer__link(href="contacts.html") Контакты
              .footer__links-wrapper
                a.footer__link(href="partners.html") Войти
                a.footer__link(href="contacts.html") Регистрация
            .footer__content-middle
              +socials
              +markets
            .footer__content-bottom
              p.p--sm.p--white.p--lh-xs.mb-0 © 2008-2017 Федеральное агентство по делам молодежи (Росмолодежь). <br>105062, Москва, Подсосенский переулок, д. 5, стр. 1.  +7 (495) 668-80-08
              .footer__info
                a.footer__info-link(href="#") Открытые данные
                a.footer__info-link(href="#") Противодействие коррупции
                a.footer__info-link(href="#") Государственная услуга