mixin user-info(additionalClass)
  .user-info(class=additionalClass): .container: .user-info__row
    .user-info__img: img(src="./img/user-img-1.jpg" alt="")
    .user-info__content
      .user-info__name Константинопольская Виктория Сергеевна, 26 лет
      .row
        .col-md-8.col-xl-9.user-info__last-col
          .user-info__form
            .field
              input.field__input.field__input--ic-edit(type="text" name="city" value="г. Серпухов, Московская обл." placeholder="Город")
              span.field__ic.field__ic--ok
              span.field__ic.field__ic--del
            .field
              input.field__input.field__input--ic-edit(type="email" name="email" value="sample@sample" placeholder="Email")
              span.field__ic.field__ic--ok
              span.field__ic.field__ic--del
            .field
              input.field__input.field__input--ic-edit(type="text" name="tel" value="+ 7 985 445 66 99" placeholder="Телефон")
              span.field__ic.field__ic--ok
              span.field__ic.field__ic--del
        .col-md-4.col-xl-3.text-md-right.pb-4.pb-md-0
          .user-info__desc Дата рождения.: 18/08/1988
          .user-info__desc ID:
            |
            |
            a(href="#") 445588989