.user-info {
	background-color: #fff;
	margin-bottom: 40px;
	border-top: 1px solid #BDBDBD;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000;

	&__row{
		display: flex;

		@include media-breakpoint-down(xs){
			display: block;
		}
	}
	&__name{
		font-size: 34px;
		font-weight: 700;
		padding-bottom: 15px;

		@include media-breakpoint-down(lg){
			font-size: 28px;
		}

		@include media-breakpoint-down(md){
			font-size: 24px;
			line-height: 1.2;
		}
	}

	&__content{
		padding-left: 48px;
		flex-grow: 1;

		@include media-breakpoint-down(lg){
			padding-left: 30px;
		}

		@include media-breakpoint-down(xs){
			padding-left: 0;
		}
	}

	&__img{
		width: 160px;
		flex-shrink: 0;

		@include media-breakpoint-down(sm){
			width: 120px;
		}

		@include media-breakpoint-down(xs){
			width: 180px;
			margin-bottom: 20px;
		}
		img{
			width: 100%;
			display: block;
		}
	}

	&__desc{
		font-size: 14px;
		a{
			color: #0284D2;
		}
	}

	&__form{
		width: 370px;

		@include media-breakpoint-down(md){
			width: 340px;
			max-width: 100%;
		}

		@include media-breakpoint-down(sm){
			width: 100%;
		}

		@include media-breakpoint-down(xs){
			width: auto;
			max-width: none;
		}
	}
	
	&__last-col{
		@include media-breakpoint-down(sm){
		  order: 1;
		}
	}
}
