.partner {
  border: 1px solid #eaeaea;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__logo {
    max-width: 90%;
    max-height: 90%;
  }
  
  &--simple {
    max-width: 200px;
    border: 0;
    align-items: flex-start;
    padding-top: 10px;
    height: auto;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }
  }
}
