doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-0 Контакты
      .container.mt-4.mb-4
        .row
          .col-12
            .article
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Наш адрес
                  .col-lg-8
                    .section__content
                      +map
                      h4.mb-2.mt-3 Главный офис
                      p.mb-0 Москва, Подсосенский переулок, д. 5, стр.
                      p.p--dashed.mb-0 Понедельник
                        span.dash
                        | Четверг, 9:00
                        span.dash
                        |18:00
                      p.p--dashed Пятница, 9:00
                        span.dash
                        |16:45
                      h4.mb-2 Справочная служба
                      p Тел.:+7 495 668-80-08 <br>Факс: +7 499 270-20-79
                      h4.mb-2 Официальный адрес электронной почты
                      p
                        a(href="#") ор@fadm.gov.ru
    +footer
    include ../templates/scripts.pug