doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start
                h2.mb-0 Создать мероприятие
      .container.bt.wrapper__breadcrumbs
        .row
          .col-12
            .d-sm-flex.align-items-center.justify-content-between
              +breadcrumbs('Мероприятия', 'Создать мероприятие')
      .container.mt-4
        .row
          .col-12
            form.article.form.pb-lg-5.mb-4(action="#", method="POST")
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Основная информация
                  .col-lg-8
                    .section__content
                      label.custom-file.custom-file--picture.mt-0.mr-2
                        input(type='file')
                        span.custom-file-control
                      h4.mt-4.mb-2 Название мероприятия
                      .form-group.form__item
                        .form__item-header
                          label.form__item-label Короткое название
                        input.form-control.input(type='text')
                      .form-group.form__item
                        .form__item-header
                          label.form__item-label Полное название
                        textarea.form-control.input.input--textarea
                      h4.mt-3.mb-2 Информация о мероприятии
                      .form-group.form__item
                        .form__item-header
                          label.form__item-label Краткое описание (до 250 знаков)
                        textarea.form-control.input.input--textarea
                      .form-group.form__item
                        .form__item-header
                          label.form__item-label Полное описание (до 5000 знаков)
                        textarea.form-control.input.input--textarea.input--textarea-big
                      .form-group.form__item
                        .form__item-header
                          label.form__item-label Условия участия
                        textarea.form-control.input.input--textarea
                      h4.mt-3.mb-3 Дата и время проведения
                      label.custom-control.custom-checkbox.custom-checkbox--switch.mb-2
                        input.custom-control-input(type='checkbox' checked)
                        span.custom-control-indicator
                        span.custom-control-description.custom-control-description--left Многодневное мероприятие
                        span.custom-control-description.custom-control-description--right Однодневное мероприятие
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Дата начала
                            input.form-control.input.input--select.calendar--single-date(type='text', required)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Дата окончания
                              span.form__item-required Обязательное поле
                            input.form-control.input.input--select.calendar--single-date(type='text', required)
                      h4.mt-3.mb-2 Место проведения
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Город
                            select.form__select.form__select--search
                              option Вариант 1
                              option Вариант 2
                              option Вариант 3
                              option Вариант 4
                              option Вариант 5
                              option Вариант 6
                              option Вариант 7
                              option Вариант 8
                              option Вариант 9
                              option Вариант 10
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Улица
                            select.form__select.form__select--search
                              option Вариант 1
                              option Вариант 2
                              option Вариант 3
                              option Вариант 4
                              option Вариант 5
                              option Вариант 6
                              option Вариант 7
                              option Вариант 8
                              option Вариант 9
                              option Вариант 10
                        .col-sm-6
                          .row
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Номер дома
                                input.form-control.input(type='text')
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Строение
                                input.form-control.input(type='text')
                      +map('mt-3 mb-3')
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Дополнительная информация
                  .col-lg-8
                    .section__content
                      h4 Начисляемые баллы за посещение мероприятия
                      .row.d-flex.align-items-end
                        .col-sm-3
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Укажите количество баллов
                            input.form-control.input(type='text')
                        .col-sm-9
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Укажите, за какую активность начисляются баллы
                            input.form-control.input(type='text')
                      a.btn.btn-link.mt-1.mb-3(href="#") + Добавить поле
                      h4 Материалы и файлы
                      p.mb-1 Презентация Колпакова И.К. 
                        a(href="#") Редактировать
                      a.btn.btn-outline-primary.btn--file.btn--file-fixed.mb-3(href="#") Annual_report.doc
                      p.mb-1 Презентация Всероссийского литературного фестиваля  «Русские рифмы» - 2017 
                        a(href="#") Редактировать
                      a.btn.btn-outline-primary.btn--file.btn--file-fixed(href="#") photo-archive.rar
                      .form-group.form__item.mt-2
                        .form__item-header
                          label.form__item-label Описание файла
                        input.form-control.input(type='text')
                      .d-flex.align-items-center
                        a.btn.btn-link.mr-2(href="#") + Добавить файл
                        a.btn.btn-outline-primary(href="#") Загрузить
                      h4.mt-2.mb-2 Организаторы
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Введите название
                            input.form-control.input(type='text')
                      h4.mt-5 Контактный представитель
                      p.mb-0
                        strong  Колпаков Сергей
                      p Адрес электронной почты: 
                        a(href="#") kolpakov@gmail.com
                        br
                        span Номер телефона: +7 (909) 123-45-67
                      input.btn.btn-primary.mt-5(type="submit", value="Создать мероприятие")
    +footer
    include ../templates/scripts.pug