doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container.mt-4.mb-4
          .row
            .col-12
              .profile__content
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Активность
                    .col-lg-8
                      .section__content
                        +activity
                        h3.mt-5.mb-2.mb-lg-5 Мероприятия, которые вы посетили
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points-old')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points-old')
                        .d-flex.justify-content-center.mt-2.mb-5.pb-2
                          a.btn.btn-outline-primary(href="#") Показать еще 16
                        h3.mb-2.mb-lg-5 Исследования, в которых вы участвовали
                        .row.d-flex
                          .col-12.col-lg-6.pb-2
                            +study('Применение Русского Афазиологического Теста', '6 Ноября 2017', 'study--points-old')
                          .col-12.col-lg-6.pb-2
                            +study('Почему ветви тянутся к солнцу, а корни в землю', '6 Ноября 2017', 'study--points-old')
                .section.pt-5
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Персональные рекомендации
                    .col-lg-8
                      .section__content
                        h3.mb-2.mb-lg-5.mt-2.mt-lg-0.pb-2 Мероприятия, которые вам будут интересны
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                        h3.mt-4.mb-2.mb-lg-5.pb-lg-4 Спецпроекты, которые вам будут интересны
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--points')
    +footer
    include ../templates/scripts.pug