doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container.mt-4.mb-4
          .row
            .col-12
              .profile__content
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Мои мероприятия
                    .col-lg-8
                      .section__content
                        h3.mb-2.mb-lg-5.pb-0.pb-lg-3 Ближайшие мероприятия
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                        h3.mb-2.mb-lg-5.pt-0.pt-lg-3.pb-0.pb-lg-3 Прошедшие мероприятия
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short event--user')
                        .d-flex.justify-content-center.mt-2.mb-5.pb-2
                          a.btn.btn-outline-primary(href="#") Показать еще 16
    +footer
    include ../templates/scripts.pug