doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug

  body
    +header
    .wrapper
      .container.bt.wrapper__breadcrumbs
        .row
          .col-12
            .d-sm-flex.align-items-center.justify-content-between
              .breadcrumbs
                a.breadcrumbs__item(href="#") Главная
                a.breadcrumbs__item.breadcrumbs__item--current(href="#") Выгрузка данных
      +user-info
      .container
        .block-data: .row
          .col-lg-6.mr-auto
            .block-data__h1 Образование
            .block-data__h2 Основное
            .field
              .field__label Наименование учебного заведения
              input.field__input.field__input--ic-edit(type="text" name="name12" value="Москвоский Инженерно-технологический Университет")
              span.field__ic.field__ic--ok
              span.field__ic.field__ic--del
            .row.mb-2
              .col-sm-8
                .field
                  .field__label Специальность
                  input.field__input.field__input--ic-edit(type="text" name="name13" value="Автослесарь")
                  span.field__ic.field__ic--ok
                  span.field__ic.field__ic--del
              .col-sm-4: .field
                .field__label Дата окончания
                select.field__select
                  option(value="2010") 2010
                  option(value="2011") 2011
                  option(value="2012") 2012
                  option(value="2013") 2013
                  option(value="2014") 2014
                  option(value="2015") 2015
                  option(value="2016") 2016
                  option(value="2017" selected) 2017
            .block-data__h2 Повышение квалификации, курсы
            .text-right.pb-2.pb-sm-0: a(href="#").block-data__link-remove.float-sm-right удалить квалификацию или курс
            .field
              .field__label Наименование учебного заведения
              input.field__input.field__input--ic-edit(type="text" name="city" value="Москвоский Инженерно-технологический Университет")
              span.field__ic.field__ic--ok
              span.field__ic.field__ic--del
            .row
              .col-sm-8
                .field
                  .field__label Специальность
                  input.field__input.field__input--ic-edit(type="text" name="name14" value="Автослесарь")
                  span.field__ic.field__ic--ok
                  span.field__ic.field__ic--del
              .col-sm-4: .field
                .field__label Дата окончания
                select.field__select
                  option(value="2010") 2010
                  option(value="2011") 2011
                  option(value="2012") 2012
                  option(value="2013") 2013
                  option(value="2014") 2014
                  option(value="2015") 2015
                  option(value="2016") 2016
                  option(value="2017" selected) 2017
            a.block-data__link-add(href="#") Добавить квалификацию или курс
            .block-data__h2 Электронные сертификаты
            .row
              .col-xl-9
                +certificates
              .col-xl-3
                label.custom-file.custom-file--add-cert
                  input(type='file')
                  span.custom-file-control Добавить сертификат
            .block-data__h2 Владение языками
            .field.field--lang
              .field__label Выберите язык из списка и нажмите “+”
              .row.no-gutters
                select.field__select
                  option(value="1") Английский
                  option(value="2") Французкий
                  option(value="3") Испанский
                  option(value="4") Польский
                a.block-data__lang.block-data__lang--add(href="#")
                a.block-data__lang(href="#") Русский
                a.block-data__lang(href="#") Немецкий
            .block-data__h2 Дополнительная информация о себе
            .field
              textarea.field__input.field__input--textarea.field__input--ic-edit(name="info" placeholder="Опишите ваши лучшие качества")
              span.field__ic.field__ic--ok
              span.field__ic.field__ic--del
            .block-data__h1 Портфолио
            .block-data__h2 Рекомендации, сертификаты, дипломы
            .row
              .col-xl-9
                +certificates
              .col-xl-3
                label.custom-file.custom-file--add-cert
                  input(type='file')
                  span.custom-file-control Добавить сертификат
            .block-data__h1 Участник мероприятий
            .block-data__table-wrap: table.block-data__table
              thead: tr
                th Дата
                th Название мероприятия
                th Статус\Уровень
                th Организатор
              tbody
                tr
                  td: .font-weight-bold.text-nowrap 10-12.04
                  td: p.block-data__table-text.
                    Взаимная сборка контрастных манекенов
                    в условиях дикого марса с использованием рабского труда инопланетян
                  td
                    .font-weight-bold Участник
                    .block-data__table-tag Магистр
                  td НПО “Русские на марсе”
                tr
                  td: .font-weight-bold.text-nowrap 10-12.04
                  td: p.block-data__table-text.
                    Взаимная сборка контрастных манекенов
                    в условиях дикого марса с использованием рабского труда инопланетян
                  td
                    .font-weight-bold Участник
                    .block-data__table-tag Магистр
                  td НПО “Русские на марсе”
            .block-data__h1 Практика
            .block-data__table-wrap: table.block-data__table
              thead: tr
                th Период
                th Название организации
                th Статус
              tbody
                tr
                  td: .font-weight-bold.text-nowrap 10.04.19 - 12.04.19
                  td ООО НПО “Валомлог”
                  td: .font-weight-bold Стажер
            .block-data__h1 Работа
            .block-data__table-wrap: table.block-data__table
              thead: tr
                th Период
                th Название организации
                th Должность
              tbody
                tr
                  td: .font-weight-bold.text-nowrap 10.04.19 - 12.04.19
                  td ООО НПО “Валомлог”
                  td: .font-weight-bold Ген.директор
          .col-lg-6.col-xl-5.pl-lg-4.pl-xl-0
            .block-data__h1.mb-5 Статистика и граф. показатели
            canvas#chart.chart
            .block-data__h1.mb-5 Профессиональные компетенции по сферам
            .row
              .col-6.col-sm-4
                .circle-progress
                  .circle-progress__bar(data-value=0.77 data-fill-color="F4A601")
                    span.circle-progress__num 77
                  .circle-progress__title Инженерно-технологическое
              .col-6.col-sm-4
                .circle-progress
                  .circle-progress__bar(data-value=0.56 data-fill-color="C20E0E")
                    span.circle-progress__num 56
                  .circle-progress__title Инженерно-технологическое
              .col-6.col-sm-4
                .circle-progress
                  .circle-progress__bar(data-value=0.41 data-fill-color="1F85C3")
                    span.circle-progress__num 450
                  .circle-progress__title Инженерно-технологическое
              .col-6.col-sm-4
                .circle-progress
                  .circle-progress__bar(data-value=0.77 data-fill-color="F4A601")
                    span.circle-progress__num 77
                  .circle-progress__title Инженерно-технологическое
              .col-6.col-sm-4
                .circle-progress
                  .circle-progress__bar(data-value=0.56 data-fill-color="C20E0E")
                    span.circle-progress__num 56
                  .circle-progress__title Инженерно-технологическое
              .col-6.col-sm-4
                .circle-progress
                  .circle-progress__bar(data-value=0.41 data-fill-color="1F85C3")
                    span.circle-progress__num 450
                  .circle-progress__title Инженерно-технологическое
    +footer
    include ../templates/scripts.pug