doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-2.mb-sm-0 Мероприятия
                a.btn.btn-primary(href="#") Создать мероприятие
      .container
        .row
          .col-12
            .sorting
              .sorting__header Отображать:
              form.sorting__form(action="#", method="GET")
                select.sorting__select.sorting__select--common
                  option Платные и бесплатные
                  option Платные
                  option Бесплатные
                select.sorting__select.sorting__select--common
                  option Все типы
                  option Развлекательные
                  option Культурные
                  option Спортивные
                  option Тренинги
                  option Мастер-классы
                .sorting__select-wrapper.sorting__select-wrapper--arrowed
                  input.sorting__select.sorting__select--calendar.calendar(type="text", placeholder="Все даты")
                select.sorting__select.sorting__select--multiple(multiple)
                  option(value="allCities") Все регионы
                  option Москва
                  option Санкт-Петербург
                  option Казань
                  option Владивосток
                  option Москва
                  option Санкт-Петербург
                  option Казань
                  option Владивосток
        .row
          .col-xl-6
            +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
          .col-xl-6
            +event('event-2.jpg', 'Всероссийский литературный фестиваль «Русские рифмы» - 2017', '4 июня', '9 октября 2017', 'Москва')
          .col-xl-6
            +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
          .col-xl-6
            +event('event-2.jpg', 'Всероссийский литературный фестиваль «Русские рифмы» - 2017', '4 июня', '9 октября 2017', 'Москва')
          .col-xl-6
            +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
          .col-xl-6
            +event('event-2.jpg', 'Всероссийский литературный фестиваль «Русские рифмы» - 2017', '4 июня', '9 октября 2017', 'Москва')
          .col-xl-6
            +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
          .col-xl-6
            +event('event-2.jpg', 'Всероссийский литературный фестиваль «Русские рифмы» - 2017', '4 июня', '9 октября 2017', 'Москва')
        .row
          .col-12
            .d-flex.justify-content-center.mt-1.mb-5
              a.btn.btn-outline-primary(href="#") Загрузить еще
    +footer
    include ../templates/scripts.pug