doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start
                h2.mb-0 Принять участие
      .container.bt.wrapper__breadcrumbs
        .row
          .col-12
            .d-sm-flex.align-items-center.justify-content-between
              +breadcrumbs('Мероприятия', 'Всероссийский литературный фестиваль «Русские рифмы» - 2017', 'breadcrumbs--long')
      .container.mt-4
        .row
          .col-12
            form.article.form.pb-lg-5.mb-4(action="#", method="POST")
              .section.pt-5.pb-5
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Ваш аккаунт
                  .col-lg-8
                    .section__content.justify-content-start
                      +user('user-1.jpg', 'Степан Резак', '', 'user--xs')
              .section.pt-5.pb-5
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Мероприятие
                  .col-lg-8
                    .section__content
                      h4.mt-0.mb-2 Всероссийский литературный фестиваль «Русские рифмы» - 2017
                      p.p--medium.p--dashed.mb-0 1
                        span.dash
                        |6 ноября 2017
                      p.p--medium.mb-0 Владивосток
              .section.pt-5.pb-5
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Основная информация
                  .col-lg-8
                    .section__content
                      h4 Заголовок формы
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Имя
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Фамилия
                            input.form-control.input(type='text')
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Отчество
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Тип личности
                              span.form__item-required Обязательное поле
                            select.form__select
                              option Развлекательные
                              option Культурные
                              option Спортивные
                              option Тренинги
                              option Мастер-классы
                              option Спортивные
                              option Тренинги
                      .d-flex.align-items-start.flex-wrap.mt-1
                        label.custom-file.mt-0.mr-2
                          input(type='file')
                          span.custom-file-control
                        a.btn.btn-outline-primary.btn--file(href="#") Img-844.png
                      label.custom-control.custom-checkbox.mt-3
                        input.custom-control-input(type='checkbox')
                        span.custom-control-indicator
                        span.custom-control-description Ссылки на дополнительные аккаунты в социальных сетях Вы сможете внести в личном кабинете после прохождения регистрации в разделе "Редактировать личные данные"
                      .mt-5
                        h4.mb-2 Выберите одно из двух: либо первое, либо второе
                        label.custom-control.custom-radio
                          input.custom-control-input(type='radio', name="choice")
                          span.custom-control-indicator
                          span.custom-control-description Первое
                        label.custom-control.custom-radio
                          input.custom-control-input(type='radio', name="choice")
                          span.custom-control-indicator
                          span.custom-control-description Второе
                      .mt-4.bt.pt-3
                        h4 Выберите несколько пунктов
                        label.custom-control.custom-checkbox.mb-2
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Важно
                        label.custom-control.custom-checkbox.mb-2
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Неважно
                        label.custom-control.custom-checkbox.mb-2
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Неважно Важно
              .section.pt-5.pb-5
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Просто информация
                  .col-lg-8
                    .section__content
                      h4.mt-0.mb-2 Заголовок
                      p Фонд содействия инновациям – государственная некоммерческая организация в форме федерального государственного бюджетного учреждения, образованная в соответствии с постановлением Правительства Российской Федерации.
                      button.btn.btn-primary.btn--fixed.mt-3(type="submit", disabled) Принять участие
    +footer
    include ../templates/scripts.pug