doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header.wrapper__header--article
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start.mb-4
                h2.mb-2.mb-sm-0 Всероссийский литературный фестиваль «Русские рифмы» - 2017
                a.btn.btn-primary.btn--no-shrink(href="#") Принять участие
              p.p--medium.p--dashed.mb-0 14
                span.dash
                |22 сентября 2017
              p.p--medium.mb-0 Москва
      .container.bt.wrapper__breadcrumbs
        .row
          .col-12
            .d-sm-flex.align-items-center.justify-content-between
              +breadcrumbs('Мероприятия', 'Всероссийский литературный фестиваль «Русские рифмы» - 2017')
              +socials('socials--share')
      .container.mt-4
        .row
          .col-12
            .article
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title О фестивале
                  .col-lg-8
                    .section__content
                      img.article__picture(src="img/article-1.jpg", alt="Picture")
                      h4 Главное
                      p.mb-5 Всероссийский литературный фестиваль «Русские рифмы» является ключевым событием для молодых поэтов современности. Он содействует возрождению поэтической культуры в России, формированию профессионального литературного сообщества страны, поддерживает творчество молодых авторов, а также повышает общественный интерес к современной литературе.
                      h4 Номинации конкурса «Русское слово»:
                      p.mb-5 «Война и мир» (исторические, философские, любовные прозаические произведения) <br>«Герой нашего времени» (прозаические произведения о героических поступках, о героях) <br>«Солярис» (фантастические прозаические произведения) <br>«Двенадцать стульев» (юмористические прозаические произведения) <br>«Тимур и его команда» (детские прозаические произведения).
                      h4 Номинации конкурса «Русские рифмы»:
                      p.mb-5 «Я вас любил…» (любовная лирика). <br>«Мы русские. Мы дети Волги» (поэтические произведения о Родине) <br>«Какая ночь! Как воздух чист…» (поэтические произведения о природе) <br>«Вася Теркин – мой герой» (поэтические произведения о героических поступках, о героях) <br>«А из нашего окна Площадь Красная видна!» (детские поэтические произведения).
                      p Полуфинал Фестиваля состоится в Нижнем Новгороде. А уже в декабре в театре им. Вахтангова пройдет заключительный этап, где жюри назовут имена лучших поэтов и прозаиков. Их произведения по традиции попадут в сборники «Русские рифмы. Поэзия» и «Русское слово. Проза». Главной наградой для победителей станет возможность публикации в «ЭКСМО-АСТ»
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Условия участия в фестивале
                  .col-lg-8
                    .section__content
                      p К участию приглашаются молодые авторы в возрасте от 18 до 30 лет, которые желают заявить о себе и поделиться своим творчеством со всем страной. Подать заявку можно на сайте АИС «Молодежь России». <br>Для успешной регистрации необходимо прикрепить текстовый файл с авторской подборкой произведений и видеоролик, где участник читает авторское произведение или отрывок из него по выбранной номинации.
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Место проведения
                  .col-lg-8
                    .section__content
                      +map
                      h4.mt-3.mb-2 Адрес
                      p 109004, г. Москва, ул. Станиславского, д. 4, стр. 1 <br>Метро Кропоткинская <br>Большой концертный зал Дворца искусств
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Начисляемые баллы
                  .col-lg-8
                    .section__content
                      .row
                        .col-sm-6
                          h4.mt-0.mb-1 3 балла
                          p За регистрацию на метроприятие
                        .col-sm-6
                          h4.mt-0.mb-1 5 баллов
                          p За то, что решили принять участие
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Материалы
                  .col-lg-8
                    .section__content
                      p.mb-1 Презентация Колпакова И.К. (
                        a(href="#") Загрузить 5.8 мб
                        |)
                      p.mb-0 Презентация Всероссийского литературного фестиваля  «Русские рифмы» - 2017 (
                        a(href="#") Загрузить 5.8 мб
                        |)
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Организаторы
                  .col-lg-8
                    .section__content
                      .row
                        .col-sm-4
                          +partner('partner-1.png')
                          p.mt-2.mb-sm-0 Федеральное Агентство по делам молодежи
                        .col-sm-4
                          +partner('partner-2.png')
                          p.mt-2.mb-sm-0 Роспатриотцентр Росмолодежи
                        .col-sm-4
                          +partner('partner-3.png')
                          p.mt-2.mb-sm-0 Ассоциация малочисленных народов севера
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        h3.section__title Контактный представитель
                  .col-lg-8
                    .section__content
                      h4.mt-0.mb-1 Колпаков Сергей
                      p Адрес электронной почты: 
                        a(href="#") kolpakov@gmail.com
                        br
                        |Номер телефона: +7 (909) 123-45-67
      .container
        .row
          .col-12
            h2.mt-5.mb-5.pb-2 Другие мероприятия
            .row
              .col-xl-6
                +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
              .col-xl-6
                +event('event-2.jpg', 'Ростов – 2017: Территория успеха', '4 июня', '9 октября 2017', 'Москва')
              .col-xl-6
                +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
              .col-xl-6
                +event('event-2.jpg', 'Арктика. Сделано в России', '4 июня', '9 октября 2017', 'Москва')
            .d-flex.justify-content-center.mt-1.mb-5
              a.btn.btn-outline-primary(href="#") Загрузить еще
    +footer
    include ../templates/scripts.pug