doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-0 Помощь
      .container.mt-4.mb-4
        .row
          .col-12
            .article.article--simple
              .row
                .col-lg-3.d-flex
                  .aside.pl-xl-4.ml-xl-5
                    .aside__content
                      a.aside__button(href="#") FAQ
                      .aside__links-list
                        a.aside__link(href="#") Общая информация
                        a.aside__link(href="#") Пользовательское соглашение
                        a.aside__link(href="#") Соглашение на обработку персональных данных
                        a.aside__link.aside__link--active(href="#") FAQ
                .col-lg-8
                  h3 FAQ
                  +question('Как позвонить в центр госуслуг?')
                  +question('Как получить услугу, и какие документы для этого необходимы?')
                  +question('Где я могу получить информацию о вакансиях в центрах государственных услуг?')
                  +question('Как можно передать показания приборов учёта воды?')
                  +question('Где можно оставить свои отзывы, предложения и пожелания по работе офисов?')
                  +question('Как позвонить в центр госуслуг?')
                  +question('Как получить услугу, и какие документы для этого необходимы?')
                  +question('Где я могу получить информацию о вакансиях в центрах государственных услуг?')
                  +question('Как можно передать показания приборов учёта воды?')
                  +question('Где можно оставить свои отзывы, предложения и пожелания по работе офисов?')
      +popup
    +footer
    include ../templates/scripts.pug