doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-0 Помощь
      .container.mt-4.mb-4
        .row
          .col-12
            .article.article--simple
              .row
                .col-lg-3.d-flex
                  .aside.pl-xl-4.ml-xl-5
                    .aside__content
                      a.aside__button(href="#") Все
                      .aside__links-list
                        a.aside__link.aside__link--active(href="#") Общая информация
                        a.aside__link(href="#") Пользовательское соглашение
                        a.aside__link(href="#") Соглашение на обработку персональных данных
                        a.aside__link(href="#") FAQ
                .col-lg-8
                  h3 Общая информация
                  h4.h4--lh-lg Федеральное агентство по делам молодежи — надежный государственный партнёр для всех частных и общественных проектов, ориентированных на молодёжь и ее интересы. Агентство строит работу на принципах сотрудничества и созидания.
                  p Федеральное агентство стремится стать сервисной площадкой, чтобы оказывать максимальное содействие в развитии молодёжи, выступая навигатором существующих и создающихся возможностей в нашей стране. <br>Мы организовываем форумы и мероприятия, оказываем поддержку молодёжи во всех регионах нашей страны. <br>Мы гордимся историями успеха наших подопечных. С помощью подведомственных учреждений решаем широкий круг задач, руководствуясь Основами государственной молодёжной политики Российской Федерации на период до 2025 г.
                  +slider
                  p Федеральное агентство по делам молодежи (Росмолодежь) — единственный профильный общенациональный орган государственной власти, деятельность которого целиком сосредоточена на развитии молодых граждан России.
                  p Агентство рассматривает молодёжь как главный ресурс развития страны, и именно на этом убеждении строит свою работу в рамках реализации государственной молодёжной политики России. Росмолодежь призвана создавать возможности для молодого поколения и координировать усилия для создания условий его самореализации.
    +footer
    include ../templates/scripts.pug