doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-0 Помощь
      .container.mt-4.mb-4
        .row
          .col-12
            .article.article--simple
              .row
                .col-lg-3.d-flex
                  .aside.pl-xl-4.ml-xl-5
                    .aside__content
                      a.aside__button(href="#") Соглашение на обработку персональных данных
                      .aside__links-list
                        a.aside__link(href="#") Общая информация
                        a.aside__link(href="#") Пользовательское соглашение
                        a.aside__link.aside__link--active(href="#") Соглашение на обработку персональных данных
                        a.aside__link(href="#") FAQ
                .col-sm-8
                  h3 Соглашение на обработку персональных данных
                  p Второй образовательный день Фестиваля посвятили обсуждению развития студенческих творческих клубов самых разнообразных направлений. Площадка собрала представителей более 30 субъектов Российской Федерации, а также иностранных гостей Фестиваля. Все участники встречи активно работают в направлении студенческого творчества, над его развитием и популяризацией.
                  p Участники разобрали основные вопросы, касающиеся деятельности студенческих творческих клубов. Наиболее актуальной стала дискуссия о новых технологиях, форматах организации и проведения студенческих мероприятий, а также о механизмах взаимодействия студенческих клубов с общероссийскими общественными организациями и органами государственной власти. Участники образовательной площадки пришли к выводу о необходимости укрепления горизонтальных связей между студенческими клубами как внутри отдельных регионов, внутри страны, так и на международном уровне.
                  p По итогам работы диалоговой площадки представители студенческих творческих клубов предложили модель для объединения студенческих клубов, чтобы их представители могли обмениваться наработанным опытом, освоенными технологиями и практиками.
                  p «На данный момент студенческие творческие клубы осознают, что необходим новый виток развития клубного движения в России, который прежде всего должен быть выражен в идеях интеграции и обмена опытом с другими студенческими клубными объединениями», - прокомментировала работу секции модератор, директор программы Российская студенческая весна Ирина Карих.
                  p Напомним, XIX Всемирный фестиваль молодежи и студентов открылся 14 октября в Москве, где прошел международный парад-карнавал, основные события фестиваля проходят 15-22 октября в Олимпийском парке Сочи.
                  p По итогам работы диалоговой площадки представители студенческих творческих клубов предложили модель для объединения студенческих клубов, чтобы их представители могли обмениваться наработанным опытом, освоенными технологиями и практиками.
                  p «На данный момент студенческие творческие клубы осознают, что необходим новый виток развития клубного движения в России, который прежде всего должен быть выражен в идеях интеграции и обмена опытом с другими студенческими клубными объединениями», - прокомментировала работу секции модератор, директор программы Российская студенческая весна Ирина Карих.
                  p Напомним, XIX Всемирный фестиваль молодежи и студентов открылся 14 октября в Москве, где прошел международный парад-карнавал, основные события фестиваля проходят 15-22 октября в Олимпийском парке Сочи.
                  p Второй образовательный день Фестиваля посвятили обсуждению развития студенческих творческих клубов самых разнообразных направлений. Площадка собрала представителей более 30 субъектов Российской Федерации, а также иностранных гостей Фестиваля. Все участники встречи активно работают в направлении студенческого творчества, над его развитием и популяризацией.
                  p Участники разобрали основные вопросы, касающиеся деятельности студенческих творческих клубов. Наиболее актуальной стала дискуссия о новых технологиях, форматах организации и проведения студенческих мероприятий, а также о механизмах взаимодействия студенческих клубов с общероссийскими общественными организациями и органами государственной власти. Участники образовательной площадки пришли к выводу о необходимости укрепления горизонтальных связей между студенческими клубами как внутри отдельных регионов, внутри страны, так и на международном уровне.
                  p Второй образовательный день Фестиваля посвятили обсуждению развития студенческих творческих клубов самых разнообразных направлений. Площадка собрала представителей более 30 субъектов Российской Федерации, а также иностранных гостей Фестиваля. Все участники встречи активно работают в направлении студенческого творчества, над его развитием и популяризацией.
                  p Участники разобрали основные вопросы, касающиеся деятельности студенческих творческих клубов. Наиболее актуальной стала дискуссия о новых технологиях, форматах организации и проведения студенческих мероприятий, а также о механизмах взаимодействия студенческих клубов с общероссийскими общественными организациями и органами государственной власти. Участники образовательной площадки пришли к выводу о необходимости укрепления горизонтальных связей между студенческими клубами как внутри отдельных регионов, внутри страны, так и на международном уровне.
    +footer
    include ../templates/scripts.pug