doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      +front
      .container
        .row
          .col-12
            h2.mt-sm-4.mb-sm-5.mt-3.mb-3 Мероприятия
            .row.cards-slider
              .col-6.cards-slider__item
                +event('event-new-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-2.jpg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('menu.svg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток', 'event--picture-auto')
              .col-6.cards-slider__item
                +event('tw.svg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва', 'event--picture-auto')
              .col-6.cards-slider__item
                +event('event-new-3.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-4.jpg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-5.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-6.jpg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-7.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-8.jpg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-9.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-new-10.jpg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва', 'event--picture-fit')
              .col-6.cards-slider__item
                +event('event-1.jpg', 'Краса студенчества России', '1', '6 ноября 2017', 'Владивосток')
              .col-6.cards-slider__item
                +event('event-2.jpg', 'Всероссийская конференция с международным участием «Достижения вузовской науки: от теории к практике», посвященная 15-летию Кумертауского филиала Оренбургского государственного университета', '4 июня', '9 октября 2017', 'Москва')
            .row
              .col-12
                .d-flex.justify-content-center.mt-1.mb-5
                  a.btn.btn-outline-primary(href="#") Все мероприятия
      .container
        .row
          .col-12.bt
            h2.mt-sm-4.mb-sm-5.mt-3.mb-3 Стань участником
            +participants
      .container
        .row
          .col-12
            h2.mt-sm-4.mb-sm-5.mt-3.mb-3 Новости
            .row.d-flex
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-new-1.jpg', '18 сентября 2017', 'Первый этап акций #ЭкоУборки успешно прошел в регионах России!', 'news--picture-circle')
                +news('news-2.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-3.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
                +news('news-4.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы')
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-5.jpg', '16 сентября 2017', '«Серверный десант» в столице')
                +news('news-6.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-7.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
                +news('news-8.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы', 'news--picture-circle')
            .d-flex.justify-content-center.mt-5.mb-5
              a.btn.btn-outline-primary(href="#") Все новости
    +footer
    include ../templates/scripts.pug