doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header.wrapper__header--article
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start.mb-4
                h2.mb-2.mb-sm-0 Ирина Слуцкая ответила на вопросы студентов-медиков
              p.p--medium.mb-0 16 сентября 2017
      .container.bt.wrapper__breadcrumbs
        .row
          .col-12
            .d-sm-flex.align-items-center.justify-content-between
              +breadcrumbs('Новости', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
      .container.mt-4
        .row
          .col-12
            .article
              .section.pt-2.pt-sm-5.pb-0
                .row
                  .col-lg-8.offset-lg-2
                    .section__content
                      h4.h4--lh-lg.mb-5 В Севастополе состоялось открытие Саммита студенческих лидеров СНГ и региональной программы XIX Всемирного фестиваля молодёжи и студентов. В рамках двух мероприятий, которые пройдут параллельно с 14 по 17 октября, город станет площадкой для молодежного обмена мнением и опытом.
                      .article__row
                        p.article__row-text Говоря о победах и поражениях, Бату Хасиков отметил, что «побеждает тот, кто знает, что будет делать, если проиграет» - именно этот девиз он вспоминает перед боем и представляет все возможные исходя поединка, решает, как будет действовать при каждом из них. Студенты, молодые лидеры и активисты призвали своих потомков крепить дружбу народов, остановить войны и расизм, любить свои семьи и детей.
                        img.article__picture.article__picture--row.ml-xl-2(src="img/article-1.jpg", alt="Picture")
                      .article__row
                        img.article__picture.article__picture--row.mr-xl-2(src="img/article-1.jpg", alt="Picture")
                        p.article__row-text Отметим, Саммит молодежных лидеров СНГ стал международной коммуникационной площадкой. <br>В рамках Саммита пройдёт обсуждение актуальных международных и межнациональных вопросов, работа в группах с целью обмена опытом в области развития молодежных организаций и студенческого самоуправления, а также насыщенная экскурсионная программа.
                      +quote
                      p Ключевым мероприятием программы Саммита и Фестиваля станет акция «Наследие фестиваля» – закладка капсулы с посланием участников Фестиваля к молодежи 2067 года. Текст послания участники будут составлять самостоятельно, основываясь на главной идее и цели проведения Фестиваля и, будет написан на русском и английском языках.
                      p Организаторами двух мероприятий выступили Правительство Севастополя в лице Управления по делам молодежи и спорта города Севастополя, ФГАОУ ВО «Севастопольский государственный университет», ФГБУ «Международный молодежный центр», филиал Московского государственного университета имени М.В. Ломоносова в городе Севастополе.
                      h3.mt-2.mb-5 Галерея
                      +slider
      .container
        .row
          .col-12
            h2.mt-5.mb-5.pb-2 Другие новости
            .row.d-flex
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-1.jpg', '18 сентября 2017', 'Первый этап акций #ЭкоУборки успешно прошел в регионах России!', 'news--picture-circle')
                +news('news-2.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-3.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
                +news('news-4.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы')
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-5.jpg', '16 сентября 2017', '«Серверный десант» в столице')
                +news('news-6.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
              .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
                +news('news-7.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
                +news('news-8.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы', 'news--picture-circle')
            .d-flex.justify-content-center.mt-0.mt-sm-5.mb-5
              a.btn.btn-outline-primary(href="#") Все новости
    +footer
    include ../templates/scripts.pug