doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-0 Новости
      .container
        .row
          .col-12
            .sorting
              .sorting__header Отображать:
              form.sorting__form(action="#", method="GET")
                select.sorting__select.sorting__select--common
                  option Все новости
                  option Все
                  option Новости
                .sorting__select-wrapper.sorting__select-wrapper--arrowed
                  input.sorting__select.sorting__select--calendar.calendar(type="text", placeholder="Все даты")
                select.sorting__select.sorting__select--multiple(multiple)
                  option(value="allCities") Все регионы
                  option Москва
                  option Санкт-Петербург
                  option Казань
                  option Владивосток
                  option Москва
                  option Санкт-Петербург
                  option Казань
                  option Владивосток
        .row.d-flex
          .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
            +news('news-1.jpg', '18 сентября 2017', 'Первый этап акций #ЭкоУборки успешно прошел в регионах России!', 'news--picture-circle')
            +news('news-2.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
            +news('news-8.jpg', '18 сентября 2017', 'Первый этап акций #ЭкоУборки успешно прошел в регионах России!', 'news--picture-circle')
            +news('news-4.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
            +news('news-1.jpg', '18 сентября 2017', 'Первый этап акций #ЭкоУборки успешно прошел в регионах России!', 'news--picture-circle')
            +news('news-6.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
          .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
            +news('news-7.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
            +news('news-5.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы')
            +news('news-3.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
            +news('news-2.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы')
            +news('news-3.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
            +news('news-4.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы')
          .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
            +news('news-5.jpg', '16 сентября 2017', '«Серверный десант» в столице')
            +news('news-6.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
            +news('news-7.jpg', '16 сентября 2017', '«Серверный десант» в столице')
            +news('news-3.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
            +news('news-4.jpg', '16 сентября 2017', '«Серверный десант» в столице')
            +news('news-2.jpg', '18 сентября 2017', '«Диалог на равных» с Кириллом Щитовым')
          .col-lg-3.col-sm-6.d-flex.flex-column.justify-content-between
            +news('news-3.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
            +news('news-8.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы', 'news--picture-circle')
            +news('news-5.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
            +news('news-1.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы', 'news--picture-circle')
            +news('news-7.jpg', '16 сентября 2017', 'Ирина Слуцкая ответила на вопросы студентов-медиков')
            +news('news-8.jpg', '14 сентября 2017', 'Юбилейный «СелиАс» подвел итоги работы', 'news--picture-circle')
        .d-flex.justify-content-center.mt-5.mb-5
          a.btn.btn-outline-primary(href="#") Все новости
    +footer
    include ../templates/scripts.pug