doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-0 Партнеры
      .container.mt-4.mb-4
        .row
          .col-12
            .article.pt-3.pt-0
              .row
                .col-sm-10.offset-sm-1
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-4.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 Минэкономразвития России
                      p.mb-0 Министерство экономического развития Российской Федерации (Минэкономразвития России) — федеральное министерство, осуществляющее выработку и реализацию экономической политики Правительства России.
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-5.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 Роснано
                      p.mb-0 Министерство экономического развития Российской Федерации (Минэкономразвития России) — федеральное министерство, осуществляющее выработку и реализацию экономической политики Правительства России.
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-6.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 Фонд Содействия Инновациям
                      p.mb-0 Фонд содействия инновациям – государственная некоммерческая организация в форме федерального государственного бюджетного учреждения, образованная в соответствии с постановлением Правительства Российской Федерации.
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-7.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 РВК
                      p.mb-0 АО «РВК» — государственный институт развития, один из ключевых инструментов государства в деле построения национальной инновационной системы. 
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-4.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 Минэкономразвития России
                      p.mb-0 Министерство экономического развития Российской Федерации (Минэкономразвития России) — федеральное министерство, осуществляющее выработку и реализацию экономической политики Правительства России.
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-5.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 Роснано
                      p.mb-0 Министерство экономического развития Российской Федерации (Минэкономразвития России) — федеральное министерство, осуществляющее выработку и реализацию экономической политики Правительства России.
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4.bb
                    +partner('partner-6.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 Фонд Содействия Инновациям
                      p.mb-0 Фонд содействия инновациям – государственная некоммерческая организация в форме федерального государственного бюджетного учреждения, образованная в соответствии с постановлением Правительства Российской Федерации.
                  .d-flex.flex-column.flex-sm-row.pt-2.pb-4
                    +partner('partner-7.png', 'partner--simple')
                    .ml-2.pr-2
                      h4.mb-2 РВК
                      p.mb-0 АО «РВК» — государственный институт развития, один из ключевых инструментов государства в деле построения национальной инновационной системы. 
    +footer
    include ../templates/scripts.pug