doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content
                h2.mb-2.mb-sm-0 Участники
                form.form(action="#", method="POST")
                  select.custom-select
                    option(disabled selected) Сортировать
      .container.mt-4.mb-2
        .row.d-flex.flex-wrap
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-1.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-2.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-3.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-4.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-5.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-6.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-7.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-8.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-9.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-10.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-11.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-12.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-13.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-14.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-15.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-16.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-1.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-2.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-3.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-4.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-5.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-6.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-7.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-8.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-9.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-10.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-11.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-12.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-13.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-14.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-15.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-16.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-1.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-2.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-3.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-4.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-5.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-6.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-7.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-8.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-9.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-10.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-11.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-12.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-13.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-14.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-15.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-16.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-1.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-2.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-3.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-4.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-5.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-6.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-7.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-8.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-9.jpg', 'Петраков Анатолий', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-10.jpg', 'Резак Степан', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-11.jpg', 'Ковалевич Вера', 'Главный делопроизводитель  ОАО “Спецстроймонтаж”')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-12.jpg', 'Люпяз Уяшева', 'Лаборант кафедры Орагнизационной психологии ФГО')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-13.jpg', 'Колпаков Сергей', 'Software Engineer')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-14.jpg', 'Кошелев Александр', 'Руководитель отдела тестирования Курская АЭС')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-15.jpg', 'Пилоткин Максим', 'ИТ-Рекрутер в СКБ Контур')
          .col-xl-3.col-lg-4.col-md-6.pb-2.d-flex
            +user('user-16.jpg', 'Рубцов Алексей', 'Senior JavaScript Developer')
      .container
        .row
          .col-12
            .d-flex.justify-content-center.mt-1.mb-5
              a.btn.btn-outline-primary(href="#") Показать еще
    +footer
    include ../templates/scripts.pug