doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--inactive.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container
          .row
            .col-12
              form.form.profile__content.pb-lg-5.mb-4(action="#", method="POST")
                .section.pt-0.pt-lg-5
                  .row
                    .col-lg-3.offset-lg-1.d-flex
                      .aside
                        .aside__content
                          a.aside__button(href="#") Основная информация
                          .aside__links-list
                            a.aside__link.aside__link--active(href="#") Основная информация
                            a.aside__link(href="#") Образование
                            a.aside__link(href="#") Места работы
                            a.aside__link(href="#") Контактная информация
                            a.aside__link(href="#") Фотография
                            a.aside__link(href="#") Изменение пароля
                            a.aside__link(href="#") Настройки конфиденциальности
                            a.aside__link(href="#") Подписка на рассылки
                            a.aside__link(href="#") Привязка к соц. сетям
                    .col-lg-6
                      .section__content
                        h3.mb-2 Основная информация
                        .row.mt-4
                          .col-sm-6
                            .form-group.form__item
                              .form__item-header
                                label.form__item-label Фамилия
                                span.form__item-required Обязательное поле
                              input.form-control.input(type='text', required)
                          .col-sm-6
                            .form-group.form__item
                              .form__item-header
                                label.form__item-label Имя
                                span.form__item-required Обязательное поле
                              input.form-control.input(type='text', required)
                          .col-sm-6
                            .form-group.form__item
                              .form__item-header
                                label.form__item-label Отчество
                                span.form__item-required Обязательное поле
                              input.form-control.input(type='text', required)
                        .row
                          .col-sm-6
                            .form-group.form__item
                              .form__item-header
                                label.form__item-label Дата рождения
                                span.form__item-required Обязательное поле
                              input.form-control.input.input--select.calendar--single-date(type='text', required)
                          .col-sm-6
                            .form-group.form__item
                              .form__item-header
                                label.form__item-label Пол
                                span.form__item-required Обязательное поле
                              select.form__select
                                option Мужской
                                option Женский
                        .row
                          .col-12
                            .form-group.form__item
                              .form__item-header
                                label.form__item-label Расскажите коротко о себе
                                span.form__item-required Обязательное поле
                              textarea.form-control.input.input--textarea(type='text', required)
                        button.btn.btn-primary.mt-3(type="submit") Сохранить изменениия
    +footer
    include ../templates/scripts.pug