doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--inactive.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container
          .row
            .col-12
              form.form.profile__content.pb-lg-5.mb-4(action="#", method="POST")
                .section.pt-0.pt-lg-5
                  .row
                    .col-lg-3.offset-lg-1.d-flex
                      .aside
                        .aside__content
                          a.aside__button(href="#") Образование
                          .aside__links-list
                            a.aside__link(href="#") Основная информация
                            a.aside__link.aside__link--active(href="#") Образование
                            a.aside__link(href="#") Места работы
                            a.aside__link(href="#") Контактная информация
                            a.aside__link(href="#") Фотография
                            a.aside__link(href="#") Изменение пароля
                            a.aside__link(href="#") Настройки конфиденциальности
                            a.aside__link(href="#") Подписка на рассылки
                            a.aside__link(href="#") Привязка к соц. сетям
                    .col-lg-6
                      .section__content
                        h3.mb-2 Образование
                        p.p--sm Вы не добавили информацию ни об одном образовательном учреждении. <br>Рекомендуем восполнить этот пробел.
                        .d-flex.flex-column.align-items-start.mt-2.pt-2.bt
                          a.btn.btn-link.btn-link--sm.mb-3(href="#") + Добавить учебное заведение
                        .bt.pt-3.mb-4
                          h4 Новое учебное заведение
                          .row
                            .col-12
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Название учебного заведения
                                  span.form__item-required Обязательное поле
                                input.form-control.input(type='text', required)
                          .row
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Полученная степень
                                select.form__select
                                  option Вариант 1
                                  option Вариант 2
                          .row.d-flex.align-items-end
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Месяц и год начала обучения
                                input.form-control.input.input--select.calendar--month-year(type='text', required)
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Месяц и год окончания обучения
                                input.form-control.input.input--select.calendar--month-year(type='text', required)
                          .d-flex.align-items-center
                            button.btn.btn-outline-primary(href="#") Добавить
                            a.btn.btn-link.btn-link--sm.btn-link--dark.ml-2(href="#") Отменить
                        +institution('06.2015 – 09.2016', 'Бакалавриат')
                        +institution('06.2009 – 09.2014', 'Ординатура')
                        button.btn.btn-primary.mt-2(type="submit", disabled) Сохранить изменениия
    +modal('modal--remove')
    +footer
    include ../templates/scripts.pug