doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--inactive.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container
          .row
            .col-12
              form.form.profile__content.pb-lg-5.mb-4(action="#", method="POST")
                .section.pt-0.pt-lg-5
                  .row
                    .col-lg-3.offset-lg-1.d-flex
                      .aside
                        .aside__content
                          a.aside__button(href="#") Фотография
                          .aside__links-list
                            a.aside__link(href="#") Основная информация
                            a.aside__link(href="#") Образование
                            a.aside__link(href="#") Места работы
                            a.aside__link(href="#") Контактная информация
                            a.aside__link.aside__link--active(href="#") Фотография
                            a.aside__link(href="#") Изменение пароля
                            a.aside__link(href="#") Настройки конфиденциальности
                            a.aside__link(href="#") Подписка на рассылки
                            a.aside__link(href="#") Привязка к соц. сетям
                    .col-lg-6
                      .profile__photo
                        .profile__photo-picture(style="background-image: url(./img/user-1.jpg);")
                        .profile__photo-content
                          label.custom-control.custom-radio.mt-0.mb-1.mr-0(for="photo1")
                            input.custom-control-input#photo1(type='radio', name="photo")
                            span.custom-control-indicator
                            span.custom-control-description Использовать по умолчанию
                          a.profile__control.profile__control--remove.ml-0(href="#")
                      .profile__photo
                        .profile__photo-picture(style="background-image: url(./img/user-2.jpg);")
                        .profile__photo-content
                          label.custom-control.custom-radio.mt-0.mb-1.mr-0(for="photo2")
                            input.custom-control-input#photo2(type='radio', name="photo")
                            span.custom-control-indicator
                            span.custom-control-description Использовать по умолчанию
                          a.profile__control.profile__control--remove.ml-0(href="#")
                      .mt-3.mb-3.pt-2.bt
                        a.btn.btn-link.btn-link--sm.pt-0.pb-0(href="#") + Добавить фото
                      button.btn.btn-primary(type="submit", disabled) Сохранить изменения
    +modal('modal--remove')
    +footer
    include ../templates/scripts.pug