doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--inactive.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container
          .row
            .col-12
              form.form.profile__content.pb-lg-5.mb-4(action="#", method="POST")
                .section.pt-0.pt-lg-5
                  .row
                    .col-lg-3.offset-lg-1.d-flex
                      .aside
                        .aside__content
                          a.aside__button(href="#") Подписка на рассылки
                          .aside__links-list
                            a.aside__link(href="#") Основная информация
                            a.aside__link(href="#") Образование
                            a.aside__link(href="#") Места работы
                            a.aside__link(href="#") Контактная информация
                            a.aside__link(href="#") Фотография
                            a.aside__link(href="#") Изменение пароля
                            a.aside__link(href="#") Настройки конфиденциальности
                            a.aside__link.aside__link--active(href="#") Подписка на рассылки
                            a.aside__link(href="#") Привязка к соц. сетям
                    .col-lg-6
                      .section__content
                        h3.mb-2.mb-sm-5 Подписка на рассылки
                        label.custom-control.custom-checkbox.mt-0.mb-1.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Получать информационные сообщения от Росмолодежи
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Получать еженедельный дайджест по мероприятиям
                        p.p--sm.mb-2 Подписавшись на дайджест, вы будете получать информацию о мероприятиях, проходящих в вашем городе (Москва). Вы можете настроить дайджест так, чтобы получать информацию о мероприятиях в других городах. Дайджест выходит еженедельно.
                        .form-group.form__item
                          .form__item-header
                            label.form__item-label Город
                          input.form-control.input(type='text')
                        .mt-3.pt-3.bt
                          a.btn.btn-link.btn-link--sm.pt-0.pb-0(href="#") + Добавить город
                        button.btn.btn-primary.mt-3(type="submit") Сохранить изменениия
    +modal('modal--remove')
    +footer
    include ../templates/scripts.pug