doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--inactive.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container
          .row
            .col-12
              form.form.profile__content.pb-lg-5.mb-4(action="#", method="POST")
                .section.pt-0.pt-lg-5
                  .row
                    .col-lg-3.offset-lg-1.d-flex
                      .aside
                        .aside__content
                          a.aside__button(href="#") Изменение пароля
                          .aside__links-list
                            a.aside__link(href="#") Основная информация
                            a.aside__link(href="#") Образование
                            a.aside__link(href="#") Места работы
                            a.aside__link(href="#") Контактная информация
                            a.aside__link(href="#") Фотография
                            a.aside__link.aside__link--active(href="#") Изменение пароля
                            a.aside__link(href="#") Настройки конфиденциальности
                            a.aside__link(href="#") Подписка на рассылки
                            a.aside__link(href="#") Привязка к соц. сетям
                    .col-lg-6
                      .section__content
                        h3.mb-5 Настройки конфиденциальности
                        h4.mb-3 Отображение информации в публичном профиле
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать “Опыт работы” 
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать "Образование"
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать "Странички в социальных сетях"
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать “Участие в мероприятиях“
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать “Участие в исследованиях“
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать “Полученные гранты”
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать “Участие в спецпроектах”
                        h4.mt-3 Настройки отображения контактной информации
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать email
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать номер телефона
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Отображать адрес сайта
                        h4.mt-3 Общие настройки отображения информации
                        label.custom-control.custom-checkbox.mt-0.mb-2.mr-0
                          input.custom-control-input(type='checkbox')
                          span.custom-control-indicator
                          span.custom-control-description Я не хочу, чтобы мою страницу индексировали поисковые системы
                        button.btn.btn-primary.mt-3(type="submit") Сохранить изменениия
    +modal('modal--remove')
    +footer
    include ../templates/scripts.pug