doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .profile
        .wrapper__header
          .container
            .row
              .col-12
                .wrapper__header-content
                  h2.mb-2.mb-sm-0 Добрый день, Максим!
                  a.profile__control.profile__control--inactive.profile__control--mobile-text.profile__control--settings(href="#") Настройки аккаунта
        .container
          .row
            .col-12
              form.form.profile__content.pb-lg-5.mb-4(action="#", method="POST")
                .section.pt-0.pt-lg-5
                  .row
                    .col-lg-3.offset-lg-1.d-flex
                      .aside
                        .aside__content
                          a.aside__button(href="#") Привязка к соц. сетям
                          .aside__links-list
                            a.aside__link(href="#") Основная информация
                            a.aside__link(href="#") Образование
                            a.aside__link(href="#") Места работы
                            a.aside__link(href="#") Контактная информация
                            a.aside__link(href="#") Фотография
                            a.aside__link(href="#") Изменение пароля
                            a.aside__link(href="#") Настройки конфиденциальности
                            a.aside__link(href="#") Подписка на рассылки
                            a.aside__link.aside__link--active(href="#") Привязка к соц. сетям
                    .col-lg-6
                      .section__content
                        h3.mb-5 Привязка к социальным сетям
                        .profile__social
                          .profile__social-name.profile__social-name--fb
                            span.profile__social-name-content Facebook
                          .profile__social-status Подключен
                          a.btn.btn-link.btn-link--short.profile__social-connect(href="#") + Подключить
                          a.btn.btn-link.btn-link--sm.btn-link--dark.profile__social-disconnect(href="#") Отключить
                        .profile__social.profile__social--active
                          .profile__social-name.profile__social-name--vk
                            span.profile__social-name-content Вконтакте
                          .profile__social-status Подключен
                          a.btn.btn-link.btn-link--short.profile__social-connect(href="#") + Подключить
                          a.btn.btn-link.btn-link--sm.btn-link--dark.profile__social-disconnect(href="#") Отключить
                        .profile__social
                          .profile__social-name.profile__social-name--tw
                            span.profile__social-name-content Twitter
                          .profile__social-status Подключен
                          a.btn.btn-link.btn-link--short.profile__social-connect(href="#") + Подключить
                          a.btn.btn-link.btn-link--sm.btn-link--dark.profile__social-disconnect(href="#") Отключить
                        .profile__social
                          .profile__social-name.profile__social-name--ok
                            span.profile__social-name-content Одноклассники
                          .profile__social-status Подключен
                          a.btn.btn-link.btn-link--short.profile__social-connect(href="#") + Подключить
                          a.btn.btn-link.btn-link--sm.btn-link--dark.profile__social-disconnect(href="#") Отключить
                        .profile__social
                          .profile__social-name.profile__social-name--go
                            span.profile__social-name-content Google
                          .profile__social-status Подключен
                          a.btn.btn-link.btn-link--short.profile__social-connect(href="#") + Подключить
                          a.btn.btn-link.btn-link--sm.btn-link--dark.profile__social-disconnect(href="#") Отключить
    +modal('modal--remove')
    +footer
    include ../templates/scripts.pug