doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header('header--logged')
    .wrapper
      .profile
        .profile__top
          .container
            .row
              .col-12
                .profile__top-wrapper
                  .profile__top-left
                    .profile__userpic(style="background-image: url(./img/user-1.jpg);")
                    .profile__top-content
                      .profile__top-user
                        h2.mb-0 Плоткин Максим
                        .profile__status.profile__status--online Сейчас на сайте
                      +user-id('profile__id')
                      p.p--medium.p--lh-sm.mb-0 Люди считают меня оптимистичным, инициативным членом команды с отличными навыками общения
                  .profile__top-right
                    a.profile__control.profile__control--download(href="#") Скачать резюме
                    a.profile__control.profile__control--settings(href="#") Настройки профиля
        .container.bt.wrapper__breadcrumbs
          .row
            .col-12
              .d-sm-flex.align-items-center.justify-content-between
                +breadcrumbs('Участники', 'Плоткин Максим')
                a.profile__link(href="#") Контактная информация
        .container
          .row
            .col-12
              .profile__content
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Карьера
                    .col-lg-8
                      .section__content
                        ul.timeline
                          li.timeline__item
                            p.p--dashed.timeline__year 08.2016
                              span.dash 
                              |по н/в
                            .timeline__content
                              h4.timeline__item-header Декан
                              p ФГБОУ ВО "Московский государственный строительный университет" (МАМИ) 
                          li.timeline__item
                            p.p--dashed.timeline__year 06.2015
                              span.dash 
                              |12.2016
                            .timeline__content 
                              h4.timeline__item-header Директор по науке и непрерывному образованию
                              p Международный союз научных и инженерных общественных объединений  
                          li.timeline__item
                            p.p--dashed.timeline__year 12.2007
                              span.dash 
                              |02.2013
                            .timeline__content 
                              h4.timeline__item-header Зав.сектором Новых информационных технологий, педагог доп.образования
                              p Московский городской Дворец детского (юношеского) творчества  
                          li.timeline__item
                            p.p--dashed.timeline__year 11.2011
                              span.dash 
                              |11.2012
                            .timeline__content 
                              h4.timeline__item-header Зав.сектором Новых информационных технологий, педагог доп.образования
                              p Московский городской Дворец детского (юношеского) творчества 
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Образование
                    .col-lg-8
                      .section__content
                        ul.timeline
                          li.timeline__item
                            p.p--dashed.timeline__year 09.2006
                              span.dash 
                              |06.2011
                            .timeline__content 
                              h4.timeline__item-header Информационные системы и технологии
                              p МГУ
                          li.timeline__item
                            p.p--dashed.timeline__year 06.2001
                              span.dash 
                              |09.2005
                            .timeline__content 
                              h4.timeline__item-header Переводчик в сфере профессиональной коммуникации (английский язык)
                              p Московский государственный институт радиотехники, электроники и автоматики (технический университет)
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Странички в соцсетях
                    .col-lg-8
                      .section__content
                        .row
                          .col-md-6.col-xl-3
                            a.profile__social-user.profile__social-user--fb(href="#") Max.Plotkin
                          .col-md-6.col-xl-3
                            a.profile__social-user.profile__social-user--ig(href="#") Plotkin-Plotkin123
                        .row
                          .col-md-6.col-xl-3
                            a.profile__social-user.profile__social-user--vk(href="#") Plotkin999
                          .col-md-6.col-xl-3
                            a.profile__social-user.profile__social-user--tw(href="#") Plotkin-Plotkin123
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Участие в мероприятиях
                    .col-lg-8
                      .section__content
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                  .d-flex.justify-content-center.mb-1
                    a.btn.btn-outline-primary(href="#") Показать еще 16
                .section.pt-5.pb-3
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Участие в исследованиях
                    .col-lg-8
                      .section__content
                        .row.d-flex
                          .col-12.col-lg-6.pb-2
                            +study('Применение Русского Афазиологического Теста', '6 Ноября 2017')
                          .col-12.col-lg-6.pb-2
                            +study('Почему ветви тянутся к солнцу, а корни в землю', '6 Ноября 2017')
                .section.pt-5.pb-3
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Полученные гранты
                    .col-lg-8
                      .section__content
                        .row
                          .col-12.col-lg-6.pb-2
                            +study('Генезис литературного текста в период позднего Средневековья и раннего Нового времени: взаимодействие стилей и жанров', '2 Ноября 2017')
                          .col-12.col-lg-6.pb-2
                            +study('Блаженный Августин Гиппонский в философско-богословском и культурном диалоге традиций Востока и Запада', '1 Ноября 2017')
                .section
                  .row
                    .col-lg-2.offset-lg-1.d-flex
                      .section__header.aside
                        .aside__content
                          h3.section__title Участие в спецпроектах
                    .col-lg-8
                      .section__content
                        .row
                          .col-12.col-xl-6
                            +event('event-1.jpg', 'Мисс и Мистер Студенчество России', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                          .col-12.col-xl-6
                            +event('event-2.jpg', 'Территория смыслов на Клязьме', '1', '6 ноября 2017', 'Владивосток', 'event--short')
                  .d-flex.justify-content-center
                    a.btn.btn-outline-primary(href="#") Показать еще 4
    +footer
    include ../templates/scripts.pug