doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start
                h2.mb-0 Регистрация нового участника
      .container.mt-4
        .row
          .col-12
            form.registration.form.pb-lg-5.mb-4(action="#", method="POST")
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        .registration__steps-list
                          a.registration__step.registration__step--finished(href="#") Основная информация
                          a.registration__step.registration__step--active(href="#") Личные данные
                          a.registration__step(href="#") Образование
                  .col-lg-8
                    .section__content
                      h3 Личные данные
                      h4.mb-2 Введите свой фактический адрес проживания
                      .row.d-flex.align-items-end
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Страна
                              span.form__item-required Обязательное поле
                            select.form__select.form__select--search
                              option Вариант 1
                              option Вариант 2
                              option Вариант 3
                              option Вариант 4
                              option Вариант 5
                              option Вариант 6
                              option Вариант 7
                              option Вариант 8
                              option Вариант 9
                              option Вариант 10
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Населенный пункт
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      .row.d-flex.align-items-end
                        .col-sm-3
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Индекс
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-9
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Адрес
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      h4.mt-5.mb-4 Данные паспорта Российской Федерации
                      .row.d-flex.align-items-end
                        .col-sm-3
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Серия и номер
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-9
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Кем выдан
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      .row.d-flex.align-items-end
                        .col-sm-3
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Дата выдачи
                              span.form__item-required Обязательное поле
                            input.form-control.input.input--select.calendar--single-date(type='text', required)
                        .col-sm-9
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Место рождения
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      button.btn.btn-primary.mt-4(type="submit") Продолжить
    +footer
    include ../templates/scripts.pug