doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start
                h2.mb-0 Регистрация нового участника
      .container.mt-4
        .row
          .col-12
            form.registration.form.pb-lg-5.mb-4(action="#", method="POST")
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        .registration__steps-list
                          a.registration__step.registration__step--finished(href="#") Основная информация
                          a.registration__step.registration__step--finished(href="#") Личные данные
                          a.registration__step.registration__step--active(href="#") Образование
                  .col-lg-8
                    .section__content
                      h3 Образование
                      .row.d-flex.align-items-end
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Название учебного заведения
                              span.form__item-required Обязательное поле
                            select.form__select.form__select--search
                              option Вариант 1
                              option Вариант 2
                              option Вариант 3
                              option Вариант 4
                              option Вариант 5
                              option Вариант 6
                              option Вариант 7
                              option Вариант 8
                              option Вариант 9
                              option Вариант 10
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Факультет
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      .row.d-flex.align-items-end
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Кафедра
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Специальность
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      .row
                        .col-sm-6
                          .row.align-items-end
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Форма обучения
                                select.form__select
                                  option Вариант 1
                                  option Вариант 2
                                  option Вариант 3
                                  option Вариант 4
                                  option Вариант 5
                            .col-sm-6
                              .form-group.form__item
                                .form__item-header
                                  label.form__item-label Год окончания
                                  span.form__item-required Обязательное поле
                                select.form__select.form__select--search
                                  option 2017
                                  option 2016
                                  option 2015
                                  option 2014
                                  option 2013
                                  option 2012
                      h4.mt-5.mb-4 Владение языками
                      .row.d-flex.align-items-end
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Укажите язык
                              span.form__item-required Обязательное поле
                            select.form__select.form__select--search
                              option Албанский
                              option Армянский
                              option Азербайджанский
                              option Африканский
                              option Английский (Американский вариант)
                              option Английский (Кельтский диалект)
                              option Английский (Ирландский диалект)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Выберите уровень владения
                              span.form__item-required Обязательное поле
                            select.form__select
                              option Вариант 1
                              option Вариант 2
                              option Вариант 3
                              option Вариант 4
                              option Вариант 5
                      button.btn.btn-primary.mt-4(type="submit") Зарегистрироваться
    +footer
    include ../templates/scripts.pug