doctype html
html(lang='en')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    +header
    .wrapper
      .wrapper__header
        .container
          .row
            .col-12
              .wrapper__header-content.align-items-start
                h2.mb-0 Регистрация нового участника
      .container.mt-4
        .row
          .col-12
            form.registration.form.pb-lg-5.mb-4(action="#", method="POST")
              .section
                .row
                  .col-lg-2.offset-lg-1.d-flex
                    .section__header.aside
                      .aside__content
                        .registration__steps-list
                          a.registration__step.registration__step--active(href="#") Основная информация
                          a.registration__step(href="#") Личные данные
                          a.registration__step(href="#") Образование
                  .col-lg-8
                    .section__content
                      h4.mb-2 Основная информация
                      label.custom-control.custom-radio
                        input.custom-control-input(type='radio', checked, name="citizenship")
                        span.custom-control-indicator
                        span.custom-control-description Я – гражданин России, проживающий на территории РФ
                      label.custom-control.custom-radio
                        input.custom-control-input(type='radio', name="citizenship")
                        span.custom-control-indicator
                        span.custom-control-description Я – гражданин России, проживающий за рубежом
                      label.custom-control.custom-radio
                        input.custom-control-input(type='radio', name="citizenship")
                        span.custom-control-indicator
                        span.custom-control-description Я – гражданин России, проживающий за рубежом
                      .row.mt-4
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Имя
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Фамилия
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Отчество
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      label.custom-control.custom-checkbox.custom-checkbox--switch.mt-4.mb-3
                        input.custom-control-input(type='checkbox' checked)
                        span.custom-control-indicator
                        span.custom-control-description.custom-control-description--left Мужчина
                        span.custom-control-description.custom-control-description--right Женщина
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Дата рождения
                              span.form__item-required Обязательное поле
                            input.form-control.input.input--select.calendar--single-date(type='text', required)
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Номер телефона
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Адрес электронной почты
                              span.form__item-required Обязательное поле
                            input.form-control.input(type='text', required)
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Facebook-аккаунт
                            input.form-control.input(type='text')
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Пароль
                            .form__tooltip.form__tooltip--long(data-toggle="tooltip", data-placement="right", title="<p class='p--lh-sm mb-0'>Пароль должен содержать не менее 8-ми символов, в том числе цифры, одну заглавную букву, одну строчную, без пробелов.</p>")
                              input.form-control.input(type='text')
                      .row
                        .col-sm-6
                          .form-group.form__item
                            .form__item-header
                              label.form__item-label Подтвердите пароль
                            input.form-control.input(type='text')
                      p.mb-2 Аватар
                      .form__tooltip.mr-2(data-toggle="tooltip", data-placement="right", title="<p class='p--lh-sm mb-0'>Загруженная фотография будет использована при изготовлении бейджей в случае Вашего участия в Форумах</p>")
                        label.custom-file.custom-file--common.mt-0
                          input(type='file')
                          span.custom-file-control
                      label.custom-control.custom-checkbox.mt-3
                        input.custom-control-input(type='checkbox')
                        span.custom-control-indicator
                        span.custom-control-description  Я соглашаюсь с 
                          a(href="#") правилами пользования
                      label.custom-control.custom-checkbox.mt-3
                        input.custom-control-input(type='checkbox')
                        span.custom-control-indicator
                        span.custom-control-description  Я соглашаюсь с 
                          a(href="#modalUserpic", data-fancybox) обработкой персональных данных
                      input.btn.btn-primary.mt-5(type="submit", value="Продолжить")
                      +modal('modal--userpic')
                      +modal('modal--userpic-cut')
                      +modal('modal--userpic-approve')
    +footer
    include ../templates/scripts.pug