mixin user(photo, name, company, additionalClass)
  a.user(href="profile.html", class=additionalClass)
    if additionalClass == 'user--short'
      .row
        .col-sm-6
          .user__photo(style="background-image: url(./img/" + photo + ");")
        .col-sm-6
          .user__content
            h4.mb-0.mt-0 #{name}
            +user-id('user__id')
            p.user__company #{company}
    else if additionalClass == 'user--xs'
      .user__photo(style="background-image: url(./img/" + photo + ");")
      .user__content
        p.p--medium.p--lh-sm.mb-1 #{name}
        +user-id('user__id')
    else
      .user__top
        .user__photo(style="background-image: url(./img/" + photo + ");")
        .user__content
          p.p--medium.p--lh-sm.mb-1 #{name}
          +user-id
      p.user__company #{company}