.user {
  display: block;
  background: #fff;
  padding: 20px;
  flex-grow: 1;
  @include transition;
  
  &:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  
  &__top {
    display: flex;
    border-bottom: 1px solid rgba(#e1e1e1, .5);
    padding-bottom: 20px;
  }
  
  &__photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  
  &__id {
    
  }
  
  &__company {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #737373;
    margin-bottom: 0;
    padding-top: 10px;
  }
  
  &--short {
    padding: 0;
    
    &:hover {
      box-shadow: none;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
    }
    
    .user__top {
      padding-bottom: 0;
    }
    
    .user__photo {
      width: 100%;
      height: 200px;
      border-radius: 3px;
    }
    
    .user__content {
      margin-left: 0;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
    
    .user__id {
      margin-top: 12px;
      margin-bottom: 23px;
    }
    
    .user__company {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  &--xs {
    display: flex;
    padding: 0;
  }
}
