.event {
  background: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  &:hover {
    text-decoration: none;
    
    .event__picture {
      transform: scale(1.05);
    }
  }
  
  &__picture-wrapper {
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    background: #fff;

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }
  
  &__picture {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    flex-grow: 1;
    @include transition;

    @include media-breakpoint-down(md) {
      background-position: center;
    }
  }
  
  &__content {
    min-height: 390px;
    padding: 30px 20px 24px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      padding: 20px;
      min-height: 200px;
    }
  }
  
  &__title {
    
  }
  
  &__info {
    
  }
  
  &__info-item {
    margin-bottom: 0;
    line-height: 1.75;
    
    &+& {
      margin-top: 2px;
    }
  }
  
  &__footer {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }
  }
  
  &__points {
    font-size: 10px;
    font-weight: 500;
    color: #828282;
    border-radius: 100px;
    border: 1px solid #bfbfbf;
    margin-right: 8px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.3px 15.9px;
  }
  
  &__points-date {
    font-size: 10px;
    font-weight: 500;
    color: #03be46;
  }
  
  &--short {
    margin-bottom: 50px;

    @include media-breakpoint-down(lg) {
      padding-right: 20px;
    }
    
    .event__picture-wrapper {
      border-radius: 3px;
    }
    
    .event__picture {

      @include media-breakpoint-down(md) {
        height: 200px;
      }
    }
    
    .event__content {
      min-height: 200px;
      padding: 0;
      justify-content: flex-start;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
        min-height: 0;
      }
    }
    
    .event__info {
      margin-top: 19px;
    }
  }
    
  &--picture-fit {
    
    .event__picture-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .event__picture {
      background-size: contain;
      background-position: center;
      width: 90%;
      height: 90%;
      flex-grow: 0;
    }
  }
    
  &--picture-auto {
    
    .event__picture {
      background-size: auto;
      background-position: center;
    }
  }
}