mixin event(picture, title, dateStart, dateEnd, city, additionalClass)
  a.event(href="#", class=additionalClass)
    if additionalClass == 'event--short'
      .row
        .col-lg-6.d-flex
          .event__picture-wrapper
            .event__picture(style="background-image: url(./img/" + picture + ");")
        .col-lg-6.d-flex
          .event__content
            h4.h4--lh-md.mt-0 #{title}
            .event__info
              p.p--medium.p--dashed.event__info-item #{dateStart}
                span.dash
                |#{dateEnd}
              p.p--medium.event__info-item #{city}
    else if additionalClass == 'event--short event--points-old'
      .row
        .col-lg-6.d-flex
          .event__picture-wrapper
            .event__picture(style="background-image: url(./img/" + picture + ");")
        .col-lg-6.d-flex.flex-column.jusify-content-between
          .event__content
            h4.h4--lh-md.mt-0.mb-0 #{title}
            .event__info
              p.p--medium.p--dashed.event__info-item #{dateStart}
                span.dash
                |#{dateEnd}
              p.p--medium.event__info-item #{city}
          .event__footer
            .event__points +40 баллов
            span.event__points-date Начислено 14.07.17
    else if additionalClass == 'event--short event--points'
      .row
        .col-lg-6.d-flex
          .event__picture-wrapper
            .event__picture(style="background-image: url(./img/" + picture + ");")
        .col-lg-6.d-flex.flex-column.jusify-content-between
          .event__content
            h4.h4--lh-md.mt-0.mb-0 #{title}
            .event__info
              p.p--medium.p--dashed.event__info-item #{dateStart}
                span.dash
                |#{dateEnd}
              p.p--medium.event__info-item #{city}
          .event__footer
            .event__points +40 баллов
    else if additionalClass == 'event--short event--user'
      .row
        .col-lg-6.d-flex
          .event__picture-wrapper
            .event__picture(style="background-image: url(./img/" + picture + ");")
        .col-lg-6.d-flex.flex-column.jusify-content-between
          .event__content
            h4.h4--lh-md.mt-0.mb-0 #{title}
            .event__info
              p.p--medium.p--dashed.event__info-item #{dateStart}
                span.dash
                |#{dateEnd}
              p.p--medium.event__info-item #{city}
          .event__footer
            .event__points Участник
    else
      .row
        .col-md-6.d-flex
          .event__picture-wrapper
            .event__picture(style="background-image: url(./img/" + picture + ");")
        .col-md-6.d-flex
          .event__content
            h3 #{title}
            .event__info
              p.p--medium.p--dashed.event__info-item #{dateStart}
                span.dash
                |#{dateEnd}
              p.p--medium.event__info-item #{city}
        