mixin front(additionalClass)
  .front(class=additionalClass)
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-1.jpg", alt="Picture")
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-2.jpg", alt="Picture")
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-3.jpg", alt="Picture")
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-4.jpg", alt="Picture")
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-5.jpg", alt="Picture")
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-6.jpg", alt="Picture")
    .front__item
      .container.front__item-content-wrapper
        .row
          .col-lg-6
            .front__item-content
              p.front__item-section Главное
              h2.front__item-title XIX Всемирный фестиваль молодежи и студентов
              p.p--medium.p--dashed.front__item-info 14
                span.dash
                |22 сентября 2017
              p.p--medium.front__item-info Краснодарский край
              button.front__item-arrow.front__item-arrow--prev
              button.front__item-arrow.front__item-arrow--next
      .front__item-picture
        img.front__item-picture-content(src="img/front-7.jpg", alt="Picture")