.front {
  background: #fff;
  
  &__item {
    position: relative;
  }
  
  &__item-content-wrapper {

    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
  
  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 90px;
    margin-top: 90px;
    padding-right: 20px;
    height: calc(100vh - 180px);
    position: relative;

    @include media-breakpoint-down(md) {
      height: auto;
      padding-bottom: 130px;
      margin-top: 40px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
  
  &__item-section {
    margin-bottom: 26px;
  }
  
  &__item-title {
    margin-bottom: 38px;
    width: 100%;
  }
  
  &__item-info {
    margin-bottom: 0;
    line-height: 1.75;
    
    &+& {
      margin-top: 4px;
    }
  }
  
  &__item-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid $brand-primary;
    font-size: 0;
    position: absolute;
    bottom: 40px;
    padding: 0;
    cursor: pointer;
    @include transition;
    
    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
    }
    
    &:focus {
      outline: none;
    }
    
    &--prev {
      background: url(../img/arrow.svg) no-repeat 19px 14px;
      transform: rotate(180deg);

      @include media-breakpoint-down(sm) {
        background-position: 14px 8px;
      }
    }
    
    &--next {
      background: url(../img/arrow.svg) no-repeat 19px 14px;
      left: 70px;

      @include media-breakpoint-down(sm) {
        background-position: 14px 8px;
      }
    }
  }
  
  &__item-picture {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    @include media-breakpoint-down(md) {
      position: static;
      width: 100%;
      height: 50vh;
      order: 1;
    }

    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
  
  &__item-picture-content {
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(md) {
      position: static;
      transform: none;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .slick-slide {

    @include media-breakpoint-down(md) {
      display: flex!important;
      flex-direction: column;
    }
  }
}
