mixin activity(additionalClass)
  .activity(class=additionalClass)
    .activity__icon
    .activity__number 240
    .activity__content 
      span.activity__content-header Баллов
      span.activity__content-comment начислено за вашу активность