.activity {
  display: flex;
  align-items: center;
  padding-bottom: 57px;
  border-bottom: 1px solid rgba(#eaeaea, .8);

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  
  &__icon {
    width: 50px;
    height: 50px;
    background: url(../img/cup.svg) no-repeat center;
    background-size: 60%;
    margin-right: 20px;
    border: 2px solid $brand-primary;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  &__number {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -.7px;
    color: $brand-primary;
    font-family: $font-family-serif;
    line-height: 1;
  }
  
  &__content {
    margin-left: 20px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
      text-align: center;
      margin-top: 10px;
    }
  }
  
  &__content-header {
    font-size: 30px;
    font-weight: 700;
    color: $brand-primary;
    font-family: $font-family-serif;
    text-transform: uppercase;
    line-height: 1;
  }
  
  &__content-comment {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.78;
    color: $brand-primary;
    display: block;
    font-family: $font-family-serif;
    text-transform: uppercase;
    display: block;
    margin-top: 3px;
  }
}
