.field {
	width: 100%;
	position: relative;
	margin-bottom: 30px;
	z-index: 1;

	&__input{
		border: none;
		border-bottom: 1px solid #E4E4E4;
		font-size: 16px;
		color: #000;
		width: 100%;
		padding-bottom: 0;
		padding-top: 0;
		height: 36px;
		padding-right: 20px;
		background-color: transparent;
		outline: none!important;

		@include transition;

		&:focus{
			border-color: $brand-primary;
			background-image: none;
			color: #FF6D03;
			padding-right: 55px;
			~.field__ic{
				visibility: visible;
				opacity: 1;
				@include transition;
			}
		}

		&--ic-edit{
			background-image: url(../img/ic-pen.svg);
			background-repeat: no-repeat;
			background-position: right center;
		}

		&:-moz-placeholder {
			color: #808080;
			font-size: 14px;
		}
		&::-moz-placeholder {
			color: #808080;
			font-size: 14px;
		}
		&:-ms-input-placeholder {
			color: #808080;
			font-size: 14px;
		}
		&::-webkit-input-placeholder {
			color: #808080;
			font-size: 14px;
		}
		&::-ms-clear,&::-ms-reveal {
			display: none;
			width : 0;
			height: 0;
		}
		&--textarea{
			padding-bottom: 10px;
			height: 90px;
			max-width: 100%;
			min-height: 90px;
			background-position: right 5px;
      resize: none;
			~.field__ic{
				bottom: 15px!important;
			}
		}
	}

	&__ic{
		display: block;
		width: 19px;
		height: 13px;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		text-decoration: none;
		position: absolute;
		bottom: 10px;
		visibility: hidden;
		opacity: 0;

		&--ok{
			background-image: url(../img/ic-ok.svg);
			right: 30px;
		}

		&--del{
			background-image: url(../img/ic-close.svg);
			right: 0;
		}
	}

	&__label{
		font-size: 14px;
		color: #808080;
	}

	.select2-container{
		display: block;
		width: 100% !important;
	}
	.select2-selection{
		border: none;
		border-bottom: 1px solid #E4E4E4;
		font-size: 16px;
	}
	.select2-selection__arrow{
		background-position: right center!important;
	}
	.select2-container--open{
		.select2-selection__arrow{
			background-position: left center!important;
		}
	}
	.select2-selection__rendered{
		padding-left: 0 !important;
	}

	&--lang{
		.select2-container{
			max-width: 335px;
			margin-bottom: 13px;
			
			@include media-breakpoint-down(sm){
			  max-width: calc(100% - 80px);
				margin-right: auto;
			}
		}
	}

}
