mixin map(additionalClass)
  .map(class=additionalClass)
    .map__content#map
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A06e01a10107edab3986448de37108881216a4841d38867304f0a65a740e013cf&amp;width=100%25&amp;height=360&amp;lang=ru_RU&amp;scroll=true"></script>