.circle-progress {
	padding-bottom: 30px;
	&__num{
		position: absolute;
		width: 100%;
		padding: 15px;
		display: block;
		text-align: center;
		left: 0;
		transform: translateY(-50%);
		line-height: 1;
		top: 50%;
		font-size: (100 / (1920 / 80)) *1vw;
		
		@include media-breakpoint-down(md){
			font-size: (100 / (990 / 80)) *1vw;
		}

		@include media-breakpoint-down(xs){
			font-size: 50px;
		}
	}

	&__title{
		font-size: 14px;
		text-align: center;
		line-height: normal;
		padding-top: 20px;
	}

	&__bar{
		position: relative;
		@include media-breakpoint-down(xs){
		  max-width: 200px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
