.aside {
  flex-grow: 1;
  
  &__content {
    position: sticky;
    top: 130px;

    @include media-breakpoint-down(md) {
      position: static;
    }
    
    &--near {
      top: 40px;
    }
  }
  
  &__button {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      color: $black;
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 20px;
      margin-left: -40px;
      margin-right: -40px;
      padding: 10px 20px;
      
      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 12px;
        background: #000;
        margin-left: 10px;
        background: url(../img/arrow--down.svg) no-repeat;
        background-size: contain;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  
  &__links-list {

    @include media-breakpoint-down(md) {
      display: none;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 20px;
      margin-left: -40px;
      margin-right: -40px;
      margin-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  
  &__link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: $brand-primary;

    @include media-breakpoint-down(md) {
      text-align: center;
    }
    
    &--active {
      color: #626264;
    }
    
    &+& {
      margin-top: 30px;

      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
  }
}
