.certificates {
	margin-bottom: 40px;
	margin-right: 10px;

	@include media-breakpoint-down(lg){
		margin-right: 0;
	}

  &__item{
		width: 162px;
		height: 220px;
		border: 1px solid #A2D9F7;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		position: relative;
		margin-right: 30px;
		img{
			display: block;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__remove{
		position: absolute;
		width: 10px;
		height: 10px;
		background-repeat: no-repeat;
		background-position: center center;
		display: block;
		background-image: url(../img/ic-remove.svg);
		top: 5px;
		right: 5px;
	}

	&__arrow{
		width: 36px;
		height: 36px;
		background-color: #fff;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url(../img/cert-arrow.svg);
		padding: 0;
		border: none;
		position: absolute;
		z-index: 1;
		top: 50%;
		margin-top: -18px;
		outline: none!important;
		cursor: pointer;
		@include transition;

		&:hover{
			background-color: #fafafa;
		}
		&--prev{
			left: -18px;
		}
		&--next{
			transform: scale(-1,1);
			right: -18px;
		}
	}
}
