mixin certificates(additionalClass)
  .certificates(class=additionalClass)
    div: .certificates__item
      img(src="./img/cert-1.jpg" alt="")
      a.certificates__remove(href="#")
    div: .certificates__item
      img(src="./img/cert-1.jpg" alt="")
      a.certificates__remove(href="#")
    div: .certificates__item
      img(src="./img/cert-1.jpg" alt="")
      a.certificates__remove(href="#")
    div: .certificates__item
      img(src="./img/cert-1.jpg" alt="")
      a.certificates__remove(href="#")
    div: .certificates__item
      img(src="./img/cert-1.jpg" alt="")
      a.certificates__remove(href="#")
    div: .certificates__item
      img(src="./img/cert-1.jpg" alt="")
      a.certificates__remove(href="#")