.quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 25px 0;
  border-top: 1px solid $brand-primary;
  border-bottom: 1px solid $brand-primary;
  margin: 50px 0;

  @include media-breakpoint-down(lg) {
    margin: 30px 0;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
  
  &__text {
    color: $brand-primary;
    line-height: 1.67;
    margin-bottom: 20px;
    width: 100%;
  }
}
