mixin quote(additionalClass)
  .quote(class=additionalClass)
    h4.quote__text «Культурные связи между Россией и зарубежными странами всегда носили дружественный характер. Мы надеемся, что участие в Саммите и Фестивале объединит молодежь, и это станет бесценным опытом в выстраивании межнационального диалога»
    p.p--dashed.mb-0
      span.dash
      |заявил Сергей Резниченко