mixin menu(additionalClass)
  .menu(class=additionalClass)
    a.menu__button(href="#")
      span.menu__button-content.menu__button-content--default Меню
      span.menu__button-content.menu__button-content--close Закрыть
    .menu__content
      .menu__links-list
        a.menu__link(href="events-list.html") Мероприятия
        a.menu__link(href="users-list.html") Участники
        a.menu__link(href="news-list.html") Новости
        a.menu__link(href="help.html") Помощь
        a.menu__link(href="partners.html") Партнеры
        a.menu__link(href="contacts.html") Контакты
      .menu__login
        a.menu__login-link(href="#modalLogin" data-fancybox) Войти
        a.menu__login-link(href="#") Регистрация