.menu {
  
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    @include transition;
    
    &:hover {
      text-decoration: none;
      opacity: .7;
    }
  }
  
  &__button-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #fdfdfd;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      font-size: 0;
    }
      
    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 16px;

      @include media-breakpoint-down(sm) {
        width: 30px;
        height: 30px;
      }
    }
    
    &--default {
      
      &:before {
        background: url(../img/menu.svg) no-repeat;
        background-size: contain;
      }
    }
    
    &--close {
      display: none;
      
      &:before {
        background: url(../img/menu--close.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  
  &__content {
    display: none;
  }
  
  &__links-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-top: 1px solid rgba(#e1e1e1, .46);
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      flex-grow: 0;
      padding: 40px 0;
    }
  }
  
  &__link {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .3px;
    color: $black;
    border-bottom: 8px solid transparent;
    font-family: $font-family-serif;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
    
    &+& {
      margin-top: 33px;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
    
    &:hover {
      color: $brand-primary;
      border-color: $brand-primary;
      text-decoration: none;
    }
  }
  
  &__login {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 62px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      position: static;
      margin-top: 20px;
    }
  }
  
  &__login-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    color: $black;
    display: flex;
    align-items: center;
    
    &+& {
    
      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: $brand-primary;
        border-radius: 50%;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
  
  &--active {
    
    &:after {
      content: '';
      display: block;
      position: fixed;
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, .35);
      z-index: 1;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    
    .menu__button {
      
    }
    
    .menu__button-content {
      color: $brand-primary;
      
      &--default {
        display: none;
      }
      
      &--close {
        display: flex;
      }
    }
    
    .menu__content {
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background: #fff;
      height: 100vh;
      display: flex;
      overflow: auto;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 90px;
      padding-bottom: 90px;
      flex-shrink: 0;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        padding-top: 60px;
      }
    }
  }
}