.registration {
  background: #fff;
  
  &__steps-list {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__step {
    display: block;
    position: relative;
    padding-left: 39px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #e1e1e1;
    padding-bottom: 25px;
    
    &:before {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid #e1e1e1;
      position: absolute;
      left: 0;
      top: 8px;
      background: #fff;
      z-index: 1;
    }
    
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: #eaeaea;
      left: 4px;
      top: 9px;
      position: absolute;
    }
    
    &:last-child {
      
      &:after {
        display: none;
      }
    }
    
    &--active {
      color: $black;
      
      &:before {
        border-color: $black;
      }
    }
    
    &--finished {
      color: #f9a31a;
      
      &:before {
        border-color: $brand-primary;
      }
    }
  }
}
