.wrapper {
  padding-top: 90px;

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  
  &__header {
    background: #fff;
    padding: 80px 0;

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }
    
    &--article {
      padding: 50px 0 40px;

      @include media-breakpoint-down(sm) {
        padding: 20px 0;
      }
    }
  }
  
  &__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__breadcrumbs {
    background: #fff;
  }
}
