mixin header(additionalClass)
  .header(class=additionalClass)
    .container
      .row
        .col-12
          .header__content
            +menu
            a.header__logo(href="index.html")
            .header__right
              +search
              if additionalClass == 'header--logged'
                .header__user
                  a.header__user-button.header__user-button--long(href="#") Пилоткин Максим
                  a.header__user-button.header__user-button--short(href="#") ПМ
                  .header__user-content
                    a.header__user-link.header__user-link--active(href="#") Главное
                    a.header__user-link(href="#") Мои мероприятия
                    a.header__user-link(href="#") Гранты
                    a.header__user-link(href="#") Выход
              else
                .header__right-content
                  a.header__link(href="#modalLogin" data-fancybox) Войти
                  +modal('modal--login')
                  +modal('modal--restore')
                  a.btn.btn-outline-primary(href="#") Регистрация