.header {
  padding: 20px 0;
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  @include media-breakpoint-down(sm) {
    padding: 15px 0;
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    background: url(../img/logo.svg) no-repeat center;
    background-size: contain;
    width: 227px;
    height: 50px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      width: 140px;
      height: 30px;
    }
  }
  
  &__right {
    display: flex;
    align-items: center;
  }
  
  &__right-content {

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #fdfdfd;
    margin-left: 21px;
    margin-right: 25px;
    
    &:hover {
      opacity: .7;
      color: #fdfdfd;
    }
  }
  
  &__user {
    margin-left: 60px;

    @include media-breakpoint-down(md) {
      margin-left: 40px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 20px;
    }
  }
  
  &__user-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    color: #fdfdfd;
    
    &:after {
      content: '';
      display: block;
      width: 5px;
      height: 9px;
      background: url(../img/arrow.svg) no-repeat;
      background-size: contain;
      transform: rotate(90deg);
      margin-top: 2px;
      margin-left: 12px;
      flex-shrink: 0;
      @include transition;
    }
    
    &--active {
      
      &:after {
        transform: rotate(-90deg);
      }
    }
    
    &--short {
      display: none;

      @include media-breakpoint-down(md) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid $brand-primary;
        border-radius: 3px;
        font-weight: 700;
        font-size: 16px;
        color: $brand-primary;
        
        &:after {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 30px;
        height: 30px;
        font-size: 12px;
      }
    }
    
    &--long {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  
  &__user-content {
    display: none;
    position: absolute;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    margin-top: 10px;
  
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      background: #fff;
      position: absolute;
      right: 10px;
      top: -4px;
    }
  }
  
  &__user-link {
    display: block;
    font-size: 14px;
    color: $black;
    @include transition;
    
    &+& {
      margin-top: 15px;
    }
    
    &:hover {
      opacity: .7;
    }
    
    &--active {
      color: #bfbfbf;
    }
  }
}