.form {
  
  &__item {
    width: 100%;
    margin-bottom: 20px;
  }
  
  &__item-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  
  &__item-label {
    font-size: 14px;
    color: $black;
    margin-bottom: 0;
  }
  
  &__item-required {
    font-size: 10px;
    color: $brand-primary;
    text-align: right;
  }
  
  &__tooltip {
    position: relative;
    display: inline-flex;
    
    &--long {
      width: 100%;
    }
  }
  
  &__select {
    
    &+.select2 {
      width: 100%!important;
    }
  }
}
