mixin institution(dates, text, additionalClass)
  .institution(class=additionalClass)
    h4.mb-1 #{dates}
    if additionalClass == 'insitution--work'
      p.mb-1 #{text}
      p.mb-0 Международный союз научных и инженерных общественных объединений 
    else
      p.mb-1 Информационные системы и технологии
      p.mb-1 #{text}
      p.mb-0 МГУ
    .institution__controls
      a.institution__link(href="#") Редактировать
      a.institution__link.institution__link--yellow(href="#modalRemove", data-fancybox) Удалить