.institution {
  background: rgba(#f4f6f7, .95);
  padding: 30px 20px 20px;
  position: relative;
  margin-bottom: 20px;

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  
  &__controls {
    position: absolute;
    right: 20px;
    top: 12px;
    display: flex;
  }
  
  &__link {
    font-size: 14px;
    line-height: 2;
    color: $black;
    
    &+& {
      margin-left: 15px;
    }
    
    &--yellow {
      color: $brand-primary;
    }
  }
}
