.participants {
  padding: 40px;
  background: #fff;
  display: flex;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
  }
  
  &__content-top {
    width: 100%;
  }
  
  &__users-list {
    margin-left: 70px;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
    }
  }
  
  &__users-row {
    display: flex;
  }
}
