mixin participants(additionalClass)
  .participants(class=additionalClass)
    .participants__content
      .participants__content-top
        h3 Регистрация дает расширенные возможности участникам
        p.p--lh-sm Вы смоежете принимать участие в мероприятиях и проектах, создавать собственную историю успеха, демонстрировать свои достижения, развитие компетенций и многое другое
      a.btn.btn-primary(href="#") Зарегистрироваться
    .participants__users-list
      .participants__users-row
        +user-photo('user-1.jpg')
        +user-photo('user-2.jpg')
        +user-photo('user-3.jpg')
        +user-photo('user-4.jpg')
        +user-photo('user-5.jpg')
        +user-photo('user-6.jpg')
        +user-photo('user-7.jpg')
        +user-photo('user-8.jpg')
        +user-photo('user-9.jpg', 'user-photo--last')
      .participants__users-row
        +user-photo('user-5.jpg')
        +user-photo('user-7.jpg')
        +user-photo('user-1.jpg')
        +user-photo('user-2.jpg')
        +user-photo('user-9.jpg')
        +user-photo('user-6.jpg')
        +user-photo('user-3.jpg')
        +user-photo('user-4.jpg')
        +user-photo('user-8.jpg', 'user-photo--last')
      .participants__users-row
        +user-photo('user-4.jpg')
        +user-photo('user-6.jpg')
        +user-photo('user-8.jpg')
        +user-photo('user-1.jpg')
        +user-photo('user-3.jpg')
        +user-photo('user-5.jpg')
        +user-photo('user-2.jpg')
        +user-photo('user-7.jpg')
        +user-photo('user-9.jpg', 'user-photo--last')
      .participants__users-row
        +user-photo('user-3.jpg')
        +user-photo('user-1.jpg')
        +user-photo('user-5.jpg')
        +user-photo('user-2.jpg')
        +user-photo('user-9.jpg')
        +user-photo('user-4.jpg')
        +user-photo('user-8.jpg')
        +user-photo('user-6.jpg')
        +user-photo('user-7.jpg', 'user-photo--last')