mixin popup(additionalClass)
  .popup(class=additionalClass)
    button.popup__close
    p.popup__text Не нашли ответ на вопрос который искали?
    a.btn.btn-outline-primary.btn--white(href="#modalMessage" data-fancybox) Напишите нам
    +modal('modal--message')