.popup {
  background: $brand-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  position: fixed;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 17px;
  border-radius: 5px;
  bottom: 40px;
  right: 10px;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    width: auto;
    padding: 20px 30px;
  }
  
  &:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    transform: rotate(45deg);
    background: $brand-primary;
  }
  
  &__close {
    width: 20px;
    height: 20px;
    background: url(../img/close--white.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
  
  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    color: #fff;
    text-align: center;
    margin-bottom: 17px;
  }
}
