.user-photo {
  width: 90px;
  height: 90px;
  display: block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;

  @include media-breakpoint-down(lg) {
    
    &:nth-child(n+8) {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    
    &:nth-child(n+5) {
      display: none;
    }
  }
  
  &__tooltip {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    width: 310px;
    padding: 20px;
    border-radius: 3px;
    
    &:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 15px 0 15px;
      border-color: #fff transparent transparent transparent;
      position: absolute;
      left: 50%;
      margin-left: -15px;
      bottom: -15px;
    }
  }
  
  &__tooltip-header {
    margin-bottom: 15px;
  }
  
  &__tooltip-dscr {
    margin-bottom: 0;
    line-height: 1.56;
  }
  
  &:hover {
    
    .user-photo__tooltip {
      display: block;
    }
  }
  
  &--last {
    
    .user-photo__tooltip {
      left: auto;
      transform: none;
      right: 0;
      
      &:before {
        right: 30px;
        left: auto;
        margin-left: 0;
      }
    }
  }
}
