mixin user-photo(picture, additionalClass)
  a.user-photo(href="#", class=additionalClass, style="background-image: url(./img/" + picture + ");")
    .user-photo__tooltip
      h3.user-photo__tooltip-header Лидия
      p.user-photo__tooltip-dscr Люди считают меня оптимистичным, инициативным членом команды с отличными навыками общения